<mat-dialog-content class="mat-typography">
  <h2 translate>consent-popup.title</h2>

  <p>
    {{ "consent-popup.personalData.processingAgreement" | translate }}
  </p>

  <ul>
    <li>
      {{ "consent-popup.personalData.registrationLabel" | translate }}
      <ul>
        <li translate>consent-popup.personalData.fullName</li>
        <li translate>consent-popup.personalData.email</li>
        <li translate>consent-popup.personalData.institutionalId</li>
      </ul>
    </li>
  </ul>

  <p translate>consent-popup.dataRetention.duration</p>
  <p translate>consent-popup.agreement.gdprNotice</p>
  <p translate>consent-popup.withdrawal.notice</p>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-flat-button [mat-dialog-close]="true" cdkFocusInitial>
    {{ "consent-popup.button.accept" | translate }}
  </button>
</mat-dialog-actions>
