<mat-vertical-stepper linear="false"> <!-- fixme: isLinear -->
  <mat-step label="Choose project">
    <app-dmp-project [dmp]="dmp"
                     (projectToAdd)="addProject($event)"
                     (projectToRemove)="removeProject($event)">
    </app-dmp-project>
  </mat-step>
  <mat-step label="People involved in data management">
    <app-dmp-people [dmp]="dmp"
                    (contactPerson)="setContactPerson($event)"
                    (removeContactPerson)="unsetContactPerson()"
                    (contributorToAdd)="addContributor($event)"
                    (contributorToRemove)="removeContributor($event)"
                    (contributorToUpdate)="updateContributorRoles($event)"></app-dmp-people>
  </mat-step>
  <mat-step label="Specify research data">
    <app-dmp-specify-data></app-dmp-specify-data>
  </mat-step>
  <mat-step label="Documentation and data quality">
    <app-dmp-doc-data-quality></app-dmp-doc-data-quality>
  </mat-step>
  <mat-step label="Legal and ethical aspects">
    <app-dmp-legal-ethical-aspects></app-dmp-legal-ethical-aspects>
  </mat-step>
  <mat-step label="Licensing">
    <app-dmp-licenses></app-dmp-licenses>
  </mat-step>
  <!-- <mat-step label="Storage">
     Content Storage
   </mat-step>-->
  <mat-step label="Specify repository/repositories">
    <app-dmp-repo></app-dmp-repo>
  </mat-step>
  <!--  <mat-step label="Costs">
      Content Costs
    </mat-step>-->
  <!--  <mat-step label="Deposit">
      Content Deposit
    </mat-step>-->
  <mat-step label="End">
    <app-dmp-summary [dmp]="dmp"></app-dmp-summary>
  </mat-step>
</mat-vertical-stepper>
