<mat-vertical-stepper linear="true">
  <mat-step label="Choose project">
    <app-dmp-project></app-dmp-project>
  </mat-step>
  <mat-step label="People involved in data management">
    Content 2
  </mat-step>
  <mat-step label="Specify research data">
    Content 3
  </mat-step>
  <mat-step label="Documentation and data quality">
    Content 4
  </mat-step>
  <mat-step label="Legal and ethical aspects">
    Content 5
  </mat-step>
  <mat-step label="Licensing">
    Content 6
  </mat-step>
  <mat-step label="Specify repository/repositories">
    Content 7
  </mat-step>
  <mat-step label="End">
    Content 8
  </mat-step>
</mat-vertical-stepper>
