@for (contributor of contributors(); track contributor.id; let last = $last) {
  <div>
    <div>
      <mat-icon class="mat-icon-style">person</mat-icon>
      {{ contributor.firstName }} {{ contributor.lastName }}
      <span class="affiliation">({{ contributor.affiliation }})</span>
      @if (contributor.contact) {
        <mat-icon class="mat-icon-contact button-color-primary"> contact_mail </mat-icon>
      }
      <span class="sr-only">{{ 'dmp.steps.people.contact.person' | translate }}</span>
    </div>
    <mat-icon class="mat-icon-style outline">mail</mat-icon>
    {{ contributor.mbox }}
    @if (contributor.personId?.type === identifierType.ORCID) {
      <app-orcid [orcidId]="contributor.personId.identifier" />
    }
    <div>
      @if (contributor.role) {
        <app-tag>{{ 'enum.contributor.role.' + contributor.role | translate }}</app-tag>
      }
    </div>
    @if (!last) {
      <hr />
    }
  </div>
}
