/* You can add global styles to this file, and also import other style files */
@import 'themes/custom-theme';

/* Theme colors as CSS variables */
:root {
  --main-color: #{map-get($app-primary, 500)};
  --main-color-contrast: #{map-get($app-primary, '500-contrast')};
  --accent-color-lighter: #{map-get($app-primary, 400)};
  --accent-color-darker: #{map-get($app-primary, 700)};
  --secondary-color: #{map-get($app-accent, 500)};
  --secondary-color-light: #{map-get($app-accent, 50)};
  --step-intro-color: #9b9b9b;
  --error-bg: #FAD1D5;
  --success-bg: #E9F5D2;
  --info-bg: #C4D8E2;
  --warning-bg: #FFF4CB;
}
