/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;
@import "themes/custom-theme";

/* Theme colors as CSS variables */
:root {
  --primary: #{mat.get-theme-color($app-light-theme, primary, 50)};
  --on-primary: #{mat.get-theme-color($app-light-theme, on-primary)};
  --accent-color-lighter: #{mat.get-theme-color($app-light-theme, primary, 60)};
  --secondary: #{mat.get-theme-color($app-light-theme, secondary, 40)};
  --secondary-container: #{mat.get-theme-color($app-light-theme, primary, 99)};
  --on-secondary-container: #{mat.get-theme-color(
      $app-light-theme,
      on-secondary-container
    )};
  --tertiary-color-very-light: #{mat.get-theme-color(
      $app-light-theme,
      tertiary,
      98
    )};

  --on-surface: #{mat.get-theme-color($app-light-theme, on-surface)};
  --surface-container-low: #{mat.get-theme-color(
      $app-light-theme,
      surface-container-low
    )};
  --surface-container-high: #{mat.get-theme-color(
      $app-light-theme,
      surface-container-high
    )};
  --outline-variant: #{mat.get-theme-color($app-light-theme, outline-variant)};

  --error-color: #{mat.get-theme-color($app-light-theme, error)};
  --error-container: #{mat.get-theme-color($app-light-theme, error-container)};
  --on-error-container: #{mat.get-theme-color(
      $app-light-theme,
      on-error-container
    )};

  --footer-color: #{mat.get-theme-color($app-light-theme, inverse-surface)};
  --on-footer-color: #{mat.get-theme-color($app-light-theme, inverse-on-surface)};
  --user-navbar-color: #{mat.get-theme-color($app-light-theme, neutral, 25)};
  --step-intro-color: #{mat.get-theme-color(
      $app-light-theme,
      neutral-variant,
      60
    )};

  // mat3 provides colors for error states, but not for success or warning...
  // so it is set to predefined values here
  --success-container: #e9f5d2;
  --on-success-container: black;
  --warning-bg: #fff4cb;
  // some values can not be generated from themes - they can be hardcoded here
  --blue-tag: #dbdce0;
  --green-tag: #d1eee1;
  --golden-tag: palegoldenrod;
  --lavender-tag: #dbdce0;

  --body-typography: #{mat.get-theme-typography(
      $app-light-theme,
      body-medium,
      font
    )};
}
