table {
  width: 100%;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: var(--custom-surface-container-low);
}

tr.element-row:not(.expanded-row):active {
  background: var(--custom-surface-container-high);
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

th.mat-mdc-header-cell:first-of-type,
td.mat-mdc-cell:first-of-type,
td.mat-mdc-footer-cell:first-of-type {
  width: 20px;
  padding: 0 15px;
}

.repo-search-bar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}
div > div > button {
  margin: 0 1em;
}

.repo-table-card {
  overflow: hidden;
}

.scrollable-repo-content {
  max-height: 500px;
  overflow-y: auto;
  padding-right: 10px;
}

.repo-filter-container {
  display: flex;
  gap: 15px;
}

@media (max-width: 860px) {
  .scrollable-repo-content {
    max-height: 300px;
  }
  .repo-filter-container {
    flex-direction: column;
    gap: 15px;
  }

  .mat-card-container {
    flex-direction: column;
    gap: 10px;
  }
}
