<div class="content">
  <h1 translate>gdpr.title</h1>
  {{ 'gdpr.info' | translate }}
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title translate>gdpr.user-info.title</mat-panel-title>
      </mat-expansion-panel-header>
      <div><strong translate>gdpr.user-info.name</strong>: {{ userName }}</div>
      <div><strong translate>gdpr.user-info.email</strong>: {{ userEmail }}</div>
      <div><strong translate>gdpr.user-info.id</strong>: {{ userId }}</div>
    </mat-expansion-panel>
    @for (item of gdpr$ | async; track item.entity) {
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ item.entity }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        @for (entry of item.entries; track $index; let last = $last) {
          <div>
            @for (property of entry | keyvalue; track property.key) {
              <div>
                <strong>{{ property.key }}:</strong> {{ property.value }}
              </div>
            }
            @if (!last) {
              <hr />
            }
          </div>
        }
      </mat-expansion-panel>
    }
  </mat-accordion>
</div>
