<h2 translate>dmp.steps.ethical.heading</h2>
<div [formGroup]="legalEthicalStep">
  <label id="humanParticipants">
    {{'dmp.steps.ethical.question.humanParticipants' | translate}}
  </label>
  <app-tooltip [tooltip]="'help.ethical.humanParticipants'"></app-tooltip>
  <mat-radio-group aria-labelledby="humanParticipants" formControlName="humanParticipants">
    <mat-radio-button class="boolean-mat-radio-button" [value]="true">{{'yes' | translate}}
    </mat-radio-button>
    <mat-radio-button class="boolean-mat-radio-button" [value]="false">{{'no' | translate}}
    </mat-radio-button>
  </mat-radio-group>
  <app-info-message *ngIf="legalEthicalStep.controls.humanParticipants.value">
    {{'info.ethical.humanParticipants.prefix' | translate}}
    <a href="{{'dmp.steps.ethical.link1' | translate}}"
       target="_blank">{{'info.ethical.humanParticipants.link1' | translate}}</a>
    {{'info.ethical.humanParticipants.middle' | translate}}
    <a href="{{'dmp.steps.ethical.link2' | translate}}" target="_blank">{{'dmp.steps.ethical.link2' | translate}}</a>.
  </app-info-message>

  <label id="ethicalIssues">
    {{'dmp.steps.ethical.question.ethicalIssues' | translate}}
  </label>
  <app-tooltip [tooltip]="'help.ethical.ethicalIssues'"></app-tooltip>
  <mat-radio-group aria-labelledby="ethicalIssues" formControlName="ethicalIssues">
    <mat-radio-button class="boolean-mat-radio-button" [value]="true">Yes
    </mat-radio-button>
    <mat-radio-button class="boolean-mat-radio-button" [value]="false">No
    </mat-radio-button>
  </mat-radio-group>
  <app-info-message *ngIf="legalEthicalStep.controls.ethicalIssues.value">
    {{'info.ethical.ethicalIssues' | translate}}
    <a href="{{'dmp.steps.ethical.link3' | translate}}" target="_blank">{{'dmp.steps.ethical.link3' | translate}}</a>.
  </app-info-message>

  <label id="committeeReviewed">
    {{'dmp.steps.ethical.question.committeeReviewed.prefix' | translate}}
    <a href="{{'dmp.steps.ethical.link4' | translate}}"
       target="_blank">{{'dmp.steps.ethical.question.committeeReviewed.link' | translate}}</a>
    {{'dmp.steps.ethical.question.committeeReviewed.suffix' | translate}}
  </label>
  <mat-radio-group aria-labelledby="committeeReviewed" formControlName="committeeReviewed">
    <mat-radio-button class="boolean-mat-radio-button" [value]="true">Yes
    </mat-radio-button>
    <mat-radio-button class="boolean-mat-radio-button" [value]="false">No
    </mat-radio-button>
  </mat-radio-group>
  <app-info-message>
    {{'info.ethical.committeeReviewed.prefix' | translate}}
    <a
      href="{{'dmp.steps.ethical.link5' | translate}}">{{'info.ethical.committeeReviewed.link' | translate}}</a>
    {{'info.ethical.committeeReviewed.suffix' | translate}}
  </app-info-message>
</div>
