.tu-storage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.storage-grid {
  min-width: 300px;
  width: 30%;
  max-height: 400px;
  overflow-y: scroll;
}

.storage-selected {
  flex-grow: 100;
}

.storage-grid > mat-card > mat-card-header {
  cursor: pointer;
}

.storage-card:hover {
  background-color: #f5f5f5;
}

.storage-card-top {
  display: flex;
  justify-content: space-between;
}

.mat-card-content {
  display: flex;
  justify-content: space-between;
}

.mat-card-actions {
  margin: 0;
  padding: 0;
}

.form-row {
  display: flex;
  flex-direction: row;
  flex-basis: max-content;
  flex-grow: 100;
  justify-content: space-evenly;
}

mat-card-content > form {
  flex-grow: 1;
}

mat-form-field {
  flex-grow: 1;
}
