<div *ngIf="!datasets.controls.length">
  Please specify your datasets first.
</div>
<!-- SELECTED REPOS-->
<div *ngIf="repoStep.controls.length">
  <p>You selected:</p>
  <mat-card *ngFor="let repo of repoStep.controls, let i=index" class="mat-selected">
    <div class="mat-card-container">
      <div class="mat-card-left">
        <h4>{{repo.value.title}}</h4>
      </div>
      <div class="mat-card-right">
        <button mat-icon-button (click)="removeRepository(i)">
          <mat-icon>cancel</mat-icon>
        </button>
      </div>
    </div>
    <form [formGroup]="repo">
      <div class="mat-card-container">
        <mat-form-field>
          <mat-label>Dataset(s) for deposit</mat-label>
          <mat-select multiple formControlName="datasets">
            <mat-option *ngFor="let dataset of datasets.controls" [value]="dataset.value.referenceHash">
              {{dataset.value.title}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="mat-card-container">
        <mat-form-field>
          <mat-label>Available until</mat-label>
          <input matInput [matDatepicker]="picker_i" formControlName="date">
          <mat-datepicker-toggle matSuffix [for]="picker_i"></mat-datepicker-toggle>
          <mat-datepicker #picker_i></mat-datepicker>
        </mat-form-field>
      </div>
    </form>
  </mat-card>
</div>

<ng-container *ngIf="restricted.length > 0">
  <mat-form-field class="full-width">
    <mat-label class="wrap-label">Dataset<span *ngIf="restricted.length > 1">s</span>
      <span *ngFor="let set of restricted, first as first, last as last, index as i">
      <span *ngIf="last && !first"> and </span> {{set}}<span *ngIf="i < restricted.length-2">, </span> </span>
      will have access restrictions. Explain why and clearly describe the access conditions.
    </mat-label>
    <textarea matInput [formControl]="restrictedAccessInfo"></textarea>
  </mat-form-field>
</ng-container>

<ng-container *ngIf="closed.length > 0">
  <mat-form-field class="full-width">
    <mat-label class="wrap-label">For dataset<span *ngIf="restricted.length > 1">s</span>
      <span *ngFor="let set of closed, first as first, last as last, index as i">
      <span *ngIf="last && !first"> and </span> {{set}}<span *ngIf="i < closed.length-2">, </span> </span>
      only the metadata will be published open access.
      Explain why the data will not be accessible (closed access).
    </mat-label>
    <textarea matInput [formControl]="closedAccessInfo"></textarea>
  </mat-form-field>
</ng-container>

<!-- TABLE -->
<h2>Repositories</h2>
<ng-container *ngIf="loaded else loadRepos">
  <mat-form-field>
    <mat-label>Search repository</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Search repository" #input>
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" multiTemplateDataRows>
    <ng-container matColumnDef="expand">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element" (click)="expandRow(element)">
        <mat-icon *ngIf="element.id === expandedElement" color="primary">expand_less</mat-icon>
        <mat-icon *ngIf="element.id !== expandedElement" color="primary">expand_more</mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let element" (click)="expandRow(element)">
        <h3>{{element.name}}</h3>
      </td>
    </ng-container>

    <ng-container matColumnDef="add">
      <th mat-header-cell *matHeaderCellDef><span class="sr-only">Add repository</span></th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="datasets.controls.length">
          <button mat-icon-button (click)="addRepository(element)">
            <mat-icon color="primary">add_circle</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="tableHeaders.length">
        <div class="element-detail"
             [@detailExpand]="element.id == expandedElement ? 'expanded' : 'collapsed'">
          <ng-container *ngIf="element.info else loading">
            <mat-divider></mat-divider>
            <h4>{{element.info.additionalName[0]?.value}}</h4>
            <p>{{element.info.description?.value}}</p>
          </ng-container>
          <ng-template #loading>
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </ng-template>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="tableHeaders"></tr>
    <tr mat-row *matRowDef="let element; columns: tableHeaders;"
        class="element-row"
        [class.expanded-row]="expandedElement === element.id">
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row">
    </tr>
    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>
  <mat-paginator class="mat-elevation-z8" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons></mat-paginator>
</ng-container>
<ng-template #loadRepos>
  <p>Load repositories...</p>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>
