.mat-form-field {
  margin-right: 4px;
}

table {
  width: 100%;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: whitesmoke;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
  width: 20px;
  padding: 0 15px;
}

.full-width {
  width: 100%;
}

.wrap-label {
  white-space: normal;
  height: auto;
}
