/* Custom Color Palettes */

@use "@angular/material" as mat;

$dark-primary-text: rgba(black, 0.87);

$_palettes: (
  primary: (
    0: #000000,
    10: #00260f,
    20: #004d1f,
    25: #006027,
    30: #00732f,
    35: #008637,
    40: #007934,
    50: #339156,
    60: #4ca36b,
    70: #66b57f,
    80: #7fc893,
    90: #b2ecc0,
    95: #ddebe4,
    98: #ddebe4,
    99: #ddebe4,
    100: #ffffff,
  ),
  secondary: (
    0: #000000,
    10: #0d1d2a,
    20: #22323f,
    25: #2e3d4b,
    30: #394856,
    35: #455462,
    40: #6b6d74,
    50: #697988,
    60: #8293a2,
    70: #9dadbe,
    80: #b8c8d9,
    90: #d4e4f6,
    95: #e7f2ff,
    98: #f7f9ff,
    99: #fcfcff,
    100: #ffffff,
  ),
  tertiary: (
    0: #000000,
    10: #007934,
    20: #00363d,
    25: #34b233,
    30: #393b41,
    35: #393b41,
    40: #007934,
    50: #393b41,
    60: #007934,
    70: #e7e7e7,
    80: #94959a,
    90: #bfc0c2,
    95: #bfc0c2,
    98: #dbdce0,
    99: #e7e7e7,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    10: #1a1c1e,
    20: #2f3133,
    25: #3a3c3e,
    30: #454749,
    35: #515255,
    40: #5d5e61,
    50: #76777a,
    60: #8f9194,
    70: #aaabae,
    80: #c6c6c9,
    90: #e2e2e5,
    95: #f0f0f4,
    98: #f9f9fc,
    99: #fcfcff,
    100: #ffffff,
    4: #0c0e11,
    6: #111416,
    12: #1e2022,
    17: #282a2d,
    22: #333537,
    23: #373737,
    24: #37393c,
    87: #d9dadd,
    91: #e7e7e7,
    92: #e8e8eb,
    94: #edeef1,
    96: #f3f3f6,
  ),
  neutral-variant: (
    0: #000000,
    10: #161c22,
    20: #2b3137,
    25: #363c42,
    30: #42474d,
    35: #4d5359,
    40: #595f65,
    50: #72787e,
    60: #8c9198,
    70: #a6acb3,
    80: #c2c7ce,
    90: #dee3ea,
    95: #ecf1f9,
    98: #f7f9ff,
    99: #fcfcff,
    100: #ffffff,
  ),
  error: (
    0: #000000,
    10: #410002,
    20: #690005,
    25: #7e0007,
    30: #93000a,
    35: #a80710,
    40: #ba1a1a,
    50: #de3730,
    60: #ff5449,
    70: #ff897d,
    80: #ffb4ab,
    90: #ffdad6,
    95: #ffedea,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
);
