/* Custom Color Palettes */

$light-primary-text: white;
$dark-primary-text: rgba(black, 0.87);


$custom-primary-color: (
  50: #ffd9c2,  
  100: #ffcaa0, 
  200: #ffbb7f, 
  300: #ffac5d, 
  400: #ff9e4c, 
  500: #ff7f45, 
  600: #e6713d, 
  700: #cc6335, 
  800: #b3552d, 
  900: #993d20, 
  A100: #ffcaa0, 
  A200: #ffac5d, 
  A400: #cc6335, 
  A700: #993d20, 
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
),
);
$custom-accent-color: (
  50: #e7e7e7,
  100: #dbdce0,
  200: #bfc0c2,
  300: #94959a,
  400: #6b6d74,
  500: #373737,
  600: #393b41,
  700: #393b41,
  800: #393b41,
  900: #393b41,
  A100: #34b233,
  A200: #34b233,
  A400: #007934,
  A700: #007934,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ),
);
