/* Custom Color Palettes */

$light-primary-text: white;
$dark-primary-text: rgba(57, 59, 65);

$custom-primary-color: (
  50: #e3e4e7,
  100: #dbdce0,
  200: #bfc0c2,
  300: #94959a,
  400: #909296,
  500: #6b6d74,
  600: #62656b,
  700: #585a60,
  800: #4e5156,
  900: #393b41,
  A100: #dbdce0,
  A200: #94959a,
  A400: #585a60,
  A700: #393b41,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ),
);

$custom-accent-color: (
  50: #e7e7e7,
  100: #dbdce0,
  200: #bfc0c2,
  300: #94959a,
  400: #e7e7e7,
  500: #007934,
  600: #393b41,
  700: #393b41,
  800: #393b41,
  900: #393b41,
  A100: #34b233,
  A200: #34b233,
  A400: #007934,
  A700: #007934,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ),
);
