@use "@angular/material" as mat; 
@import "apps/damap-frontend/src/themes/custom-palettes";

// Define palettes using Material Design palettes as per your existing setup or with M3 considerations.
$app-primary: mat.get-theme-color($custom-primary-color);
$app-accent: mat.get-theme-color($custom-accent-color);
$app-warn: mat.get-theme-color($red-palette);

$app-light-theme: mat.define-light-theme((
  color: (
    primary: $app-primary,
    accent: $app-accent,
  )
));
$app-dark-theme: mat.define-dark-theme((
  color: (
    primary: $app-primary,
    accent: $app-accent,
  )
));

// Check for theme version and apply styles accordingly using a custom mixin.
@mixin app-component-theme($theme) {
  @if (mat.get-theme-version($theme) == 1) {
    // M3-specific styles
    @include mat.core-theme($theme);
    @include mat.button-theme($theme);
    @include mat.icon-theme($theme);
  } @else {
    // Fallback for M2
    @include mat.core();
    @include mat.button();
    @include mat.icon();
  }
}

// Apply the theme mixins based on the theme version
@include app-component-theme($app-light-theme);

.dark-theme {
  @include mat.all-component-colors($app-dark-theme);
  @include mat.strong-focus-indicators-theme($app-dark-theme);
}

// Ensure backward compatibility
html {
  @include mat.all-component-themes($app-light-theme);
  @include mat.strong-focus-indicators-theme($app-light-theme);
}

// Custom typography setup with backwards compatibility
@include mat.typography-hierarchy($app-light-theme, $back-compat: true);

@font-face {
  font-family: Roboto;
  src: url(../assets/fonts/Roboto/Roboto-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: Roboto;
  src: url(../assets/fonts/Roboto/Roboto-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Roboto;
  src: url(../assets/fonts/Roboto/Roboto-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  src: url(../assets/icons/material/MaterialIcons-Regular.ttf)
    format("truetype");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}
