<mat-dialog-content class="mat-typography">

  <h2>Datenschutzinformation DAMAP</h2>

  <p>Der Datenschutz und dessen Sicherstellung sind wichtige Anliegen der TU Wien. Die Verarbeitung personenbezogener
    Daten erfolgt unter strikter Wahrung der Grundsätze und Anforderungen, die in der DSGVO<sup>1</sup> und dem
    österreichischen DSG<sup>2</sup> festgelegt sind. Die TU Wien verarbeitet ausschließlich jene Daten, die für die
    Erreichung der angestrebten Zwecke erforderlich sind, und ist stets bestrebt, die Sicherheit und Richtigkeit der
    Daten zur gewährleisten.
  </p>

  <p>
    <b>Verantwortlicher:</b> <br/>
    Rektorat der Technischen Universität Wien<br/>
    Karlsplatz 13<br/>
    1040 Wien<br/>
  </p>

  <p>
    <b>Datenschutzbeauftragte:</b> <br/>
    Mag. Christina Thirsfeld<br/>
    Technische Universität Wien<br/>
    Karlsplatz 13/018, 1040 Wien<br/>
    <a href="mailto:datenschutz@tuwien.ac.at">datenschutz@tuwien.ac.at</a>
  </p>

  <p>
    <b>Ansprechpartner TU Wien:</b> <br/>
    Sollten Sie Fragen zur Verarbeitung Ihrer Daten oder weitere Anliegen haben, wenden Sie sich bitte an:<br/>
    Zentrum für Forschungsdatenmanagement der TU Wien<br/>
    E-Mail: <a href="research.data@tuwien.ac.at">research.data@tuwien.ac.at</a>
  </p>

  <b>Zweck der Datenverarbeitung:</b> <br/>
  <p>DAMAP ist ein Tool, das Angehörige der TU Wie bei der Erstellung von Datenmanagementplänen (DMPs) unterstützt. In
    einem DMP wird erfasst, welche Forschungsdaten wie generiert werden und was mit den Daten während und auch nach
    Abschluss eines Projekts geschieht. Ein DMP hilft bei der Planung des Forschungsprozesses und bei der Festlegung von
    Verantwortlichkeiten. Er ist ein wichtiges Hilfsmittel auf dem Weg zu Open Science und bei der Umsetzung der
    FAIR-Prinzipien und wird als solches im Rahmen von Projektförderungen mehr und mehr gefordert.
  </p>

  <p>DAMAP wurde im Rahmen des BMBWF-geförderten Projektes FAIR Data Austria gemeinsam mit der TU Graz an der TU Wien
    entwickelt. Das Tool ermöglicht sowohl die Produktion von maschinell verarbeitbaren DMPs als auch von DMP-Dokumenten
    im Word-Format. DAMAP nutzt soweit wie möglich vorhandene Informationen aus anderen Systemen, was sowohl zur
    Qualitätssteigerung als auch zur Minimierung des manuellen Aufwands bei der DMP-Erstellung beiträgt.
  </p>

  <p>Bei der Nutzung von DAMAP werden personenbezogene Daten verarbeitet.</p>

  <p>Das Login ist derzeit nur für Angehörige der TU Wien über den TU-Account (TU Single-Sign-On), möglich.</p>

  <b>Rechtsgrundlage für die Datenverarbeitung:</b> <br/>
  <p>Datenverarbeitungen für die Nutzung von DAMAP basieren auf Art 6 Abs 1 lit a DSGVO (Einwilligung).
  </p>

  <b>Folgende personenbezogene Daten werden bei dieser Datenverarbeitung verarbeitet:</b> <br/>

  <ul>
    <li>für die Anmeldung:</li>
    <ul>
      <li>Vor- und Nachname</li>
      <li>E-Mail-Adresse</li>
      <li>TISS-ID (falls vorhanden)</li>
    </ul>
    <li>Daten von Personen, die an der DMP-Erstellung beteiligt sind:</li>
    <ul>
      <li>Name, E-Mail-Adresse, ORCID iD, TISS-ID</li>
      <li>Zugehörigkeit (Institution)</li>
      <li>Rolle (z.B. Kontaktperson, Projektleitung, Datenproduzent_in)</li>
    </ul>
  </ul>

  <p>Im Zuge der Anmeldung wird vom Login-Service für jede_n Nutzer_in auch der letzte erfolgreiche Login-Zeitpunkt
    erfasst.</p>

  <p>Die Nutzer_innen können in DAMAP selbst Inhalte erstellen, bearbeiten und exportieren. Das Tool speichert zu diesen
    Inhalten jeweils den/die Ersteller_in und den Bearbeitungszeitpunkt.</p>

  <p><b>Sicherungsmaßnahmen zum Schutz der bei uns gespeicherten Daten:</b> <br/>
    Die personenbezogenen Daten der Nutzer_innen werden nur innerhalb des Tools und anderer Services der TU Wien (z.B.
    TISS, Datawarehouse) gespeichert und verarbeitet. Die verarbeiteten personenbezogenen Daten werden vor Manipulation,
    Verlust oder Missbrauch geschützt, wozu umfangreiche technische und organisatorische Maßnahmen, die regelmäßig
    überprüft und dem technischen Fortschritt angepasst werden, gesetzt werden.</p>

  <p><b>Kategorien von Empfänger_innen der personenbezogenen Daten:</b> <br/>
    Eine Datenübermittlung durch die TU Wien an Dritte und/oder an ein Drittland (außerhalb EU/EWR) findet nicht statt.
  </p>

  <p><b>Speicherdauer:</b> <br/>
    Personenbezogene Daten, die für die Anmeldung beziehungsweise im Sinne der oben angeführten Datenverarbeitungen
    erfasst werden, werden grundsätzlich nur für die Dauer des bereitgestellten Dienstes gespeichert, es sein denn, es
    besteht aufgrund von gesetzlichen Bestimmungen eine längere Aufbewahrungsdauer.
  </p>

  <p><b>Ihre Rechte im Zusammenhang mit personenbezogenen Daten:</b> <br/>
    Betroffene dieser Datenverarbeitung haben gegenüber der TU Wien folgende Rechte:
    • Recht auf Auskunft
    • Recht auf Richtigstellung
    • Recht auf Löschung
    • Recht auf Einschränkung der Verarbeitung
    • Recht auf Datenübertragbarkeit
    • Recht auf Widerruf
  </p>

  <p>Weiters haben Betroffene das Recht, sich bei der Datenschutzbehörde über eine vermeintlich unzulässige
    Datenverarbeitung beziehungsweise über eine Nichterfüllung unserer Pflichten aus der DSGVO zu beschweren.
    Allgemeine Informationen zum Datenschutz finden Sie bei der österreichischen Datenschutzbehörde unter
    https://www.dsb.gv.at/.
    Datenschutzinformationen der TU Wien finden Sie unter
    https://www.tuwien.at/tu-wien/organisation/zentrale-services/datenschutz-und-dokumentenmanagement/datenschutz/.
  </p>
  <sup>1. Datenschutz-Grundverordnung</sup>
  <br/>
  <sup>2. Datenschutzgesetz</sup>

  <h2>Datenschutzrechtliche Einwilligung DAMAP</h2>

  <p>
    Ich bin damit einverstanden, dass die Technische Universität Wien (in der Folge „TU-Wien“)
    folgende personenbezogene Daten im Rahmen des Tools DAMAP verarbeiten darf:
  <ul>
    <li>für die Anmeldung:</li>
    <ul>
      <li>Vor- und Nachname</li>
      <li>E-Mail-Adresse</li>
      <li>TISS-ID (falls vorhanden)</li>
    </ul>
    <li>Daten von Personen, die an der DMP-Erstellung beteiligt sind:</li>
    <ul>
      <li>Name, E-Mail-Adresse, ORCID iD, TISS-ID</li>
      <li>Zugehörigkeit (Institution)</li>
      <li>Rolle (z.B. Kontaktperson, Projektleitung, Datenproduzent_in)</li>
    </ul>
  </ul>

  <p>Personenbezogene Daten, die für die Anmeldung beziehungsweise im Sinne der oben angeführten Datenverarbeitungen
    erfasst werden, werden grundsätzlich nur für die Dauer des bereitgestellten Dienstes gespeichert, es sein denn, es
    besteht aufgrund von gesetzlichen Bestimmungen eine längere Aufbewahrungsdauer.</p>

  <p>Ich erkläre hiermit, dass ich über die Informationspflichten (Recht auf
    Auskunft/Richtigstellung/Löschung etc.) gemäß Art. 12 – 21 DSGVO aufgeklärt wurde und diese
    zur Kenntnis genommen habe.</p>

  <p>Ich erkläre hiermit, dass diese Einwilligungserklärung auf freiwilliger Basis erfolgt. Ich kann meine Einwilligung
    ohne nachteilige Folgen jederzeit formlos mit Wirkung für die Zukunft widerrufen.</p>

  <p>Meine Widerrufserklärung kann ich direkt unter …. entfernen. Zur Reaktivierung der Einwilligung …</p>

  <p>Im Fall des Widerrufs löscht die TU Wien mit Zugang meiner Widerrufserklärung die von der TU
    Wien und allfälligen Auftragsverarbeiter_innen gespeicherten Daten.
    Durch den Widerruf wird die Rechtmäßigkeit der bis dahin erfolgten Verarbeitung nicht berührt.
    Ich habe die Möglichkeit, die datenschutzrechtliche Information und die datenschutzrechtliche
    Einwilligungserklärung jederzeit auszudrucken.</p>


</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Accept</button>
</mat-dialog-actions>
