<div *ngFor="let contributor of contributors, last as last">
  <div>
    <mat-icon class="mat-icon-style">person</mat-icon>
    {{contributor.firstName}} {{contributor.lastName}}
    <span class="affiliation">({{contributor.affiliation}})</span>
    <mat-icon *ngIf="contributor.contact" class="mat-icon-contact" color="primary">
      contact_mail
    </mat-icon>
    <span class="sr-only">{{'dmp.steps.people.contact.person' | translate}}</span>
  </div>
  <mat-icon class="mat-icon-style">mail_outline</mat-icon>
  {{contributor.mbox}}
  <app-orcid *ngIf="contributor.personId?.type === identifierType.ORCID"
             [orcidId]="contributor.personId.identifier">
  </app-orcid>
  <div>
    <app-tag *ngIf="contributor.role">{{'enum.contributor.role.' + contributor.role | translate}}</app-tag>
  </div>
  <hr *ngIf="!last">
</div>
