<app-step-intro>{{'dmp.steps.data.reuse.intro' | translate}}
</app-step-intro>
<div [formGroup]="reuseStep">
  <mat-form-field class="full-width" appearance="fill">
    <mat-label class="wrap-label">{{'dmp.steps.data.reuse.question.targetAudience' | translate}}
    </mat-label>
    <input type="text" matInput formControlName="targetAudience" [matAutocomplete]="auto"/>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of optionsTargetAudience" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field class="full-width" appearance="fill">
    <mat-label class="wrap-label">{{'dmp.steps.data.reuse.question.tools' | translate}}
    </mat-label>
    <textarea matInput formControlName="tools"></textarea>
  </mat-form-field>

  <ng-container *ngIf="restricted?.length > 0">
    <article>{{'dmp.steps.data.reuse.question.restrictedDataAccess.0' | translate}}
      <span *ngFor="let set of restricted, last as last"> "{{set.title}}"<span *ngIf="!last">, </span> </span>
    </article>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label class="wrap-label">{{'dmp.steps.data.reuse.question.restrictedDataAccess.1' | translate}}
      </mat-label>
      <textarea matInput formControlName="restrictedDataAccess"></textarea>
    </mat-form-field>
  </ng-container>
</div>
