<p>In this step you are asked to provide a realistic estimation of necessary resources for data management and a clear statement 
  on how these costs will be covered.</p>
<div [formGroup]="costsStep">
  <label id="costsFormGroup">
    Select the statement which best describes the situation in your project with respect to costs of data management.
  </label>
  <mat-radio-group aria-labelledby="costsFormGroup" formControlName="exist">
    <mat-radio-button [value]="false">There are no costs dedicated to data management and ensuring that data will be
      <a [href]="fairLink" target="_blank">FAIR</a>.
    </mat-radio-button>
    <mat-radio-button [value]="true">There are costs dedicated to data management and ensuring that data will be <a
      [href]="fairLink" target="_blank">FAIR</a> as outlined below.
    </mat-radio-button>
  </mat-radio-group>
</div>
<ng-container *ngIf="costsStep?.controls.exist.value == true">
  <button mat-raised-button color="primary" (click)="addCost()">
    <mat-icon>add_circle</mat-icon>
    Add cost
  </button>
  <div [formGroup]="costsStep">
    <mat-accordion formArrayName="list">
      <mat-expansion-panel *ngFor="let item of list.controls; let i = index">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{item.value.title}}
          </mat-panel-title>
          <mat-panel-description>
            {{item.value.value | currency: item.value.currencyCode}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div [formArrayName]="i">
          <div class="form-row">
            <div class="form-row-group">
              <app-input-wrapper [label]="'Item'" [control]="getFormControl(i, 'title')">
              </app-input-wrapper>
              <button mat-icon-button color="accent" aria-label="Remove cost" (click)="removeCost(i)">
                <mat-icon>cancel</mat-icon>
              </button>
            </div>
          </div>
          <div class="form-row">
            <div class="form-row-group">
              <app-input-wrapper [label]="'Estimated cost'" [prefix]="'€ &nbsp;'" [placeholder]="'1000.00'"
                                 [type]="'number'" [control]="getFormControl(i, 'value')">
              </app-input-wrapper>
              <mat-form-field>
                <mat-label>Cost Type</mat-label>
                <mat-select formControlName="type">
                  <mat-option *ngFor="let type of costType | keyvalue" [value]="type.value">
                    {{type.value}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <ng-container *ngIf="item.value.type === costType.other">
                <app-input-wrapper [label]="'Please specify the cost type'" [type]="'text'"
                                   [control]="getFormControl(i, 'customType')">
                </app-input-wrapper>
              </ng-container>
            </div>
          </div>
          <div class="form-row">
            <div class="form-row-group">
              <app-textarea-wrapper [label]="'Description'" [control]="getFormControl(i, 'description')">
              </app-textarea-wrapper>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</ng-container>
