<mat-form-field [appearance]="appearance">
  <mat-label class="wrap-label">{{label | translate}}</mat-label>
  <ng-template #standard>
    <textarea matInput [formControl]="control" [placeholder]="placeholder" type="text"
              [required]="required" [maxLength]="maxLength">
    </textarea>
  </ng-template>

  <!-- AUTOCOMPLETE -->
  <ng-container *ngIf="autocompleteOptions?.length else standard">
    <textarea matInput [formControl]="control" [placeholder]="placeholder" type="text"
              [matAutocomplete]="auto" [required]="required"></textarea>

    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of autocompleteOptions" value="{{option | translate}}">
        {{option | translate}}
      </mat-option>
    </mat-autocomplete>
  </ng-container>

  <!-- ERROR -->
  <mat-error *ngIf="!control?.errors?.required && control?.errors?.empty">
    {{'form.error.empty' | translate}}
  </mat-error>
  <mat-error *ngIf="control?.errors?.required">
    {{'form.error.required' | translate}}
  </mat-error>
  <mat-error *ngIf="control?.errors?.maxlength">
    {{'form.error.maxlength' | translate: {value: control.errors.maxlength?.requiredLength} }}
    <!-- "maxlength": { "requiredLength": 255, "actualLength": 273 } -->
  </mat-error>
  <mat-error *ngIf="control?.errors?.pattern">
    {{'form.error.pattern.currency' | translate}}

    <!-- { "pattern": { "requiredPattern": "^[0-9]*.?[0-9]{0,2}$", "actualValue": "123,345" } } false -->
  </mat-error>
</mat-form-field>
<!--{{control.errors | json}}-->
<!--{{control.valid}}-->

