.technical-resources {
  margin-bottom: 16px;
}

.description-section {
  background: var(--custom-surface-container-low);
  padding: 8px;
}

.info-section {
  display: flex;
  justify-content: space-between;
  background: var(--custom-surface-container-low);
  padding: 8px;
  border-radius: 4px;
  margin-bottom: 8px;
}

.label {
  font-weight: bold;
  margin-right: 0.5em;
}

.resource-box {
  background: var(--custom-surface-container-low);
  padding: 8px;
  border-radius: 4px;
  margin-top: 8px;
}

.resource-title {
  font-weight: bold;
  display: block;
}

.split-text {
  word-wrap: break-word;
  word-break: break-all;
  text-align: left;
}
