.landing-page-graphic-container {
  width: 100%;
}

.landing-page-graphic {
  max-width: 100%;
}

.double-items {
  display: flex;
  align-items: center;
}

.background {
  background: url("../../../assets/landing-page-background.png");
  background-color: var(--accent-color-very-light);
  background-repeat: no-repeat;
  background-position: right top;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1140px;
}

.left-side-container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.info-bar-typography {
  font: var(--body-large);
  color: var(--landing-page-info-bar-color);
}

.info-bar {
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 15px;
}

.title-typography {
  font: var(--display-large);
  color: var(--on-surface);
  font-weight: bold;
  margin-bottom: 2rem;
}

.start-btn {
  padding: 1.6rem 2.5rem;
  margin-right: 20px;
}

.play-video-btn {
  margin-left: 10px;
  margin-right: 10px;
  animation: pulse 1500ms ease-out infinite;

  .mat-icon {
    transform: scale(1.5);
  }
}

/* animations */
.fadeInLeft {
  animation-name: fadeInLeft;
  animation-duration: 1.7s;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -ms-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

.fadeInTop {
  animation-name: fadeInTop;
  animation-duration: 1.7s;
}

@keyframes fadeInTop {
  0% {
    opacity: 0;
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 20px rgba(90, 153, 212, 0);
  }
  100% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
  }
}
