<div class="background">
  <div class="container">
    <div class="info-bar fadeInTop">
      <div class="h6-typography"> Usage 29 | DMPs 311 | Related Organizations 322</div>
    </div>
    <div class="double-items">
      <div class="left-side-container">
        <div class="h2-typography fadeInTop">
          DAMAP - a tool for machine actionable DMPs
        </div>
        <div class="double-items fadeInLeft">
          <a class="start-btn body1-typography double-items" routerLink="/dashboard">
            <mat-icon> chevron_right</mat-icon>
            Start new DMP
          </a>
          <a mat-fab
             class="round-icon-btn"
             color="primary"
             href="https://www.youtube.com/watch?v=owhuBrGIOsE"
          >
            <mat-icon>play_arrow</mat-icon>
          </a>
        </div>
      </div>
      <div class="landing-page-graphic-container fadeInTop">
        <img
          class="landing-page-graphic"
          src="assets/landing-page-graphic.png"
          alt="Thumb"
        />
      </div>
    </div>
  </div>
</div>
