<h1 mat-dialog-title>
  @if (mode === "edit") {
    {{ "admin.internalStorage.dialog.title.edit" | translate }}
  } @else {
    {{ "admin.internalStorage.dialog.title.create" | translate }}
  }
</h1>

<mat-dialog-content id="datasetDialog">
  <div [formGroup]="storage">
    <app-input-wrapper
      [label]="'admin.internalStorage.dialog.field.url' | translate"
      [control]="url" />
    <app-input-wrapper
      [label]="'admin.internalStorage.dialog.field.storageLocation' | translate"
      [control]="storageLocation" />
    <app-input-wrapper
      [label]="'admin.internalStorage.dialog.field.backupLocation' | translate"
      [control]="backupLocation" />
    <mat-checkbox formControlName="active">
      {{ "admin.internalStorage.dialog.field.active" | translate }}
    </mat-checkbox>
    @if (mode === "add") {
      <div>
        <div [formGroup]="storageTranslation">
          <hr />
          <app-language-code-input
            class="dialogRow"
            [label]="
              'admin.internalStorage.translation.dialog.field.languageCode'
                | translate
            "
            [hint]="
              'admin.internalStorage.translation.dialog.field.languageCodeHint'
                | translate
            "
            [control]="languageCode"
            [errorMessageRequired]="
              'admin.internalStorage.translation.dialog.field.languageCodeRequired'
                | translate
            "
            [errorMessageInvalid]="
              'admin.internalStorage.translation.dialog.field.languageCodeInvalid'
                | translate
            " />
          <app-input-wrapper
            [label]="
              'admin.internalStorage.translation.dialog.field.title' | translate
            "
            [control]="title" />
          <app-textarea-wrapper
            [label]="
              'admin.internalStorage.translation.dialog.field.description'
                | translate
            "
            [control]="description"
            [maxLength]="4000" />
          <app-input-wrapper
            [label]="
              'admin.internalStorage.translation.dialog.field.backupFrequency'
                | translate
            "
            [control]="backupFrequency" />
        </div>
      </div>
    }
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">
    {{ "admin.dialog.internal-storage.button.cancel" | translate }}
  </button>
  <button (click)="onDialogClose()" mat-flat-button [disabled]="isDisabled()">
    @if (mode === "edit") {
      {{ "admin.dialog.internal-storage.button.update" | translate }}
    }
    @if (mode === "add") {
      {{ "admin.dialog.internal-storage.button.add" | translate }}
    }
  </button>
</mat-dialog-actions>
