@use '@angular/material' as mat;
@use 'sass:map';
// Plus imports for other components in your app.
// Depending on your layout you will want to include your own palettes or import an
// Angular Material prebuilt theme of your choice.
@use 'custom-palettes' as palettes;

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.elevation-classes();
@include mat.app-background();
@include mat.strong-focus-indicators(
  (
    border-style: solid,
    border-width: 2px,
    border-radius: 40px,
  )
);

// Define the palettes for your theme using the Material Design palettes available in custom-palettes.scss
// (imported above). Information on how these colors should be used: https://m3.material.io/styles/color/roles

$_rest: (
  secondary: map.get(palettes.$palettes, secondary),
  neutral: map.get(palettes.$palettes, neutral),
  neutral-variant: map.get(palettes.$palettes, neutral-variant),
  error: map.get(palettes.$palettes, error),
);

$app-primary: map.merge(map.get(palettes.$palettes, primary), $_rest);
$app-accent: map.merge(map.get(palettes.$palettes, tertiary), $_rest);

/*
The theming of this application is managed in the custom-theme.
This theme remains here for backward compatibility with styles.scss static variables.
*/
$app-light-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: $app-primary,
      tertiary: $app-accent,
    ),
  )
);

@font-face {
  font-family: Roboto;
  src: url(../assets/fonts/Roboto/Roboto-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: Roboto;
  src: url(../assets/fonts/Roboto/Roboto-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: Roboto;
  src: url(../assets/fonts/Roboto/Roboto-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Roboto;
  src: url(../assets/fonts/Roboto/Roboto-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  src: url(../assets/icons/material/MaterialSymbolsOutlined.ttf) format('truetype');
}

// Angular Material v19 theming approach
html {
  color-scheme: light dark;
  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: $app-primary,
        tertiary: $app-accent,
      ),
      typography: Roboto,
      density: 0,
    )
  );
  .mat-h2,
  .mat-title {
    font-weight: 400;
  }

  @include mat.slide-toggle-overrides(
    (
      selected-focus-track-color: var(--mat-theme-primary),
      selected-pressed-track-color: var(--mat-theme-primary),
      selected-hover-handle-color: color-mix(in srgb, var(--mat-theme-primary) 30%, white),
      selected-focus-handle-color: color-mix(in srgb, var(--mat-theme-primary) 30%, white),
      selected-focus-state-layer-color: var(--mat-theme-primary),
      selected-pressed-handle-color: color-mix(in srgb, var(--mat-theme-primary) 60%, white),
    )
  );
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';

  /* Set default icons to filled */
  font-variation-settings: 'FILL' 1;

  &.outline {
    font-variation-settings: 'FILL' 0;
  }
  // https://developers.google.com/fonts/docs/material_icons#setup_method_2_self_hosting
  &.md-18 {
    font-size: 18px;
  }
  &.md-24 {
    font-size: 24px;
  }
  &.md-36 {
    font-size: 36px;
  }
  &.md-48 {
    font-size: 48px;
  }

  &.md-light {
    color: var(--custom-primary-lightest);
  }
}

// Custom css classes to overwrite color attributes of mat components
// This is how mat3 recommends to change color - but it only works for primary, secondary,
// tertiary and error, see https://material.angular.io/guide/theming#using-component-color-variants
// All other classes overwrite variables inside the components directly

.material-icon-white-background-primary {
  --mat-icon-color: var(--mat-theme-on-primary);
  background-color: var(--mat-theme-primary);
}

.material-icon-white-background-success {
  --mat-icon-color: var(--mat-theme-primary);
  background-color: white;
  border: 2px solid var(--mat-theme-primary);
}

.material-icon-primary-background-none {
  --mat-icon-color: var(--mat-theme-primary);
}

.material-icon-on-secondary-container {
  --mat-icon-color: var(--mat-theme-on-secondary-container);
}

.material-icon-white {
  --mat-icon-color: var(--mat-theme-on-primary);
}

.material-icon-warning {
  --mat-icon-color: darkorange;
}

.material-btn-text-primary-lightest {
  --mat-button-text-label-text-color: var(--custom-primary-lightest);
}

.snack-error {
  --mat-snack-bar-container-color: var(--mat-sys-error-container);
  --mat-snack-bar-supporting-text-color: var(--mat-sys-on-error-container);
  --mat-snack-bar-supporting-text-weight: bold;
  --mat-snack-bar-button-color: var(--mat-sys-on-error-container);
  --mat-button-text-label-text-weight: bold;
}

.snack-success {
  --mat-snack-bar-container-color: var(--custom-success-container);
  --mat-snack-bar-supporting-text-color: var(--custom-on-success-container);
  --mat-snack-bar-supporting-text-weight: bold;
  --mat-snack-bar-button-color: var(--custom-on-success-container);
  --mat-button-text-label-text-weight: bold;
}

.material-icon-primary {
  color: var(--mat-theme-primary);
}

.card-selected {
  --mat-card-elevated-container-color: var(--custom-surface-container-low);
}

.form-error {
  --mat-expansion-header-text-color: var(--mat-sys-error);
}

.mat-toolbar-row-grey {
  background-color: var(--custom-surface-container-low);
}

.mat-sidenav-divider-grey {
  --mat-sidenav-container-divider-color: var(--outline-variant);
}

.mat-menu-secondary-container {
  --mat-menu-container-color: var(--secondary-container);
  --mat-menu-item-label-text-color: var(--on-secondary-container);
}

// custom component densities (density defines the size of material components)
.mat-textarea-density {
  @include mat.form-field-density(-1);
  @include mat.input-density(-1);
}
@include mat.form-field-density(-4);
@include mat.input-density(-4);
@include mat.select-density(-4);

@media (max-width: 860px) {
  button.mat-mdc-button,
  button.mat-mdc-raised-button,
  button.mat-mdc-stroked-button,
  button.mat-mdc-unelevated-button,
  button.mat-mdc-fab,
  button.mat-mdc-mini-fab {
    font-size: small;
    line-height: normal;
  }
}

// used with mat-raised-button
.empty-button-with-border {
  border: 1px solid var(--mat-theme-primary) !important;
}

// custom typography classes

/* Display */
.mat-display-large {
  font: var(--mat-sys-display-large);
}
.mat-display-medium {
  font: var(--mat-sys-display-medium);
}
.mat-display-small {
  font: var(--mat-sys-display-small);
}

/* Headline */
.mat-headline-large {
  font: var(--mat-sys-headline-large);
}
.mat-headline-medium {
  font: var(--mat-sys-headline-medium);
}
.mat-headline-small {
  font: var(--mat-sys-headline-small);
}

/* Title */
.mat-title-large {
  font: var(--mat-sys-title-large);
}
.mat-title-medium {
  font: var(--mat-sys-title-medium);
}
.mat-title-small {
  font: var(--mat-sys-title-small);
}

/* Body */
.mat-body-large {
  font: var(--mat-sys-body-large);
}
.mat-body-medium {
  font: var(--mat-sys-body-medium);
}
.mat-body-small {
  font: var(--mat-sys-body-small);
}

/* Label */
.mat-label-large {
  font: var(--mat-sys-label-large);
}
.mat-label-medium {
  font: var(--mat-sys-label-medium);
}
.mat-label-small {
  font: var(--mat-sys-label-small);
}
