#access-wrapper {
  max-width: 800px;
  padding: 1rem;
}

.action-buttons {
  padding-bottom: 20px;
}

.action-buttons > button {
  margin-right: 1rem;
}

.user mat-icon {
  margin-right: -0.5rem;
}

.radio-buttons {
  display: flex;
  flex-direction: column;
}

.role-text {
  margin-right: 2px;
}

.list-option-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4px 0;
  line-height: 1.4;
}

.person-detail-content {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.person-detail-content strong {
  font-weight: 500;
}
