table {
  width: 100%;
}

th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
  width: 20%;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  padding: 0 10px;
}
