<div class="dropzone" appDragdrop (fileDropped)="onFileDropped($event)">
  <input type="file" #fileDrop id="fileDrop" multiple (change)="onFileSelected($event)" hidden/>
  <mat-icon>upload_file</mat-icon>
  <span>{{'upload.file.dragdrop' | translate}}</span>
</div>

<div class="file-input">
  <button mat-raised-button color="primary" class="upload-btn"
          (click)="fileDrop.click()">
    <label for="fileDrop">{{'upload.file.choose' | translate}}</label>
    <mat-icon>attach_file</mat-icon>
  </button>
</div>

<!-- FILES -->
<div>
  <ng-container *ngFor="let upload of fileUpload, let i = index">
      <div class="progress" *ngIf="!upload.finalized">
        <div class="progress-row">
          {{upload.file.name}}
          <button mat-icon-button class="cancel-upload" (click)="cancelUpload(i)">
            <mat-icon>clear</mat-icon>
          </button>
        </div>
        <mat-progress-bar class="progress-bar" mode="determinate"
                          [value]="upload.progress">
        </mat-progress-bar>
      </div>
  </ng-container>
</div>



