mat-nav-list {
  width: 300px;
}

.mm-navbars-top a {
  color: #fff;
}

.mm-navbars-top {
  background: inherit;
  border-color: inherit;
  background-color: var(--main-color);
  border-width: 0;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  height: 50px;
}

.mm-navbar {
  padding: 0;
  border: none;
  position: relative;
  background-color: var(--main-color);
  color: #fff;
  width: 100%;
  float: left;
  clear: both;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  flex-grow: 0;
  height: 100%;
}

.logo {
  flex-basis: 100%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  text-align: left;
  font-size: 1.5rem;
  font-weight: 500;
}

.languageElement {
  width: 110px;
  flex-basis: 110px;
  flex-shrink: 0;
  display: flex;
  transition: color .3s ease;
  justify-content: center;
}

.mm-navbars-top .languageElement A {
  line-height: 50px;
  height: 50px;
  text-decoration: none;
  align-items: center;
  display: flex;
}

.mm-navbars-top .languageElement A > SPAN {
  display: block;
  position: relative;
  width: 50px;
  height: 26px;
  border-radius: 12px;
  padding-left: 4px;
  padding-right: 4px;
  line-height: 26px;
  white-space: nowrap;
  background-color: var(--accent-color-darker);
  transition: background .3s ease;
}

.mm-navbars-top .languageElement A > SPAN::before {
  content: "";
  display: inline-block;
  height: 18px;
  width: 18px;
  border-radius: 12px;
  background: #fff;
  position: absolute;
  top: 4px;
  right: 4px;
}

.mm-navbars-top .languageElement A > SPAN > SPAN {
  display: block;
  width: 100%;
  padding-left: 2px;
  padding-right: 2px;
  font-size: .7647058824rem;
  line-height: 26px;
  position: relative;
  left: 1px;
}

A[data-lang-active-de] > SPAN::before {
  left: 4px;
}

A[data-lang-active-en] {
  text-align: left;
}

.logo A {
  margin-left: 30px;
  transition: color .3s ease, background .3s ease;
  line-height: 50px;
  height: 50px;
  text-decoration: none;
}

#user {
  margin-top: 50px;
  padding: 19px 16px;
  background-color: #373737;
  color: white;
  font-weight: 400;
}

#mainHeader {
  height: 50px;
  background-color: white;
  overflow: visible;
}

#mainHeader #mainHeaderLogo A {
  top: 5px;
  position: relative;
  display: block;
}

#mainHeaderLogo A svg {
  width: 60px;
  height: 60px;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

#mainHeader .mainHeaderRight {
  margin-left: auto;
  display: flex;
  align-content: flex-end;
}

.mainHeaderNav {
  display: flex;
  min-width: 50px;
  margin-right: 20px;
  font-size: 1.2rem;
}

.nav-item-desktop {
  padding: 0 15px 0 15px;
  text-decoration: none;
  color: var(--main-color);
  text-transform: uppercase;
  line-height: 70px;
  font-family: FFDINWebPro,sans-serif;
  font-weight: 700;
  display: none;
}

#mainHeader #mainHeaderLogo {
  padding-right: 5px;
  display: flex;
  align-self: flex-start;
}

.mainHeaderLeft {
  background-color: var(--secondary-color);
  color: #c5c5c5;
  padding: 5px;
}

.mat-icon {
  transform: scale(1.4);
}

.active {
  background-color: #f5f5f5;
  padding-left: 22px;
  border-left: 8px solid var(--main-color);
  font-weight: 400;
}

.sidenav-btn {
  display: block;
}

.logo a:focus {
  outline: #fff solid 3px;
}

.mainHeaderNav a:focus {
  outline: var(--main-color) solid 3px;
  outline-offset: -3px;
}

@media only screen and (min-width: 1024px) {

  .mm-navbars-top {
    line-height: 70px;
    height: 70px;
  }

  #user {
    margin-top: 70px;
    padding: 22px 16px;
  }

  .mm-navbars-top .languageElement A {
    line-height: 70px;
    height: 70px;
  }

  #mainHeaderLogo A svg {
    width: 75px;
    height: 75px;
  }

  #mainHeader {
    height: 70px;
  }

  #mainHeader #mainHeaderLogo A {
    top: 15px;
    padding-right: 15px;
    position: relative;
  }

  .nav-item-desktop {
    display: block;
  }

  .active {
    background-color: transparent;
    padding-left: 15px;
    border-left: none;
    font-weight: 700;
    border-bottom: 3px solid var(--main-color);
  }

  .nav-item-mobile {
    display: none !important;
  }

  .sidenav-btn {
    display: none;
  }

  .mainHeaderLeft {
    background-color: var(--secondary-color);
    color: #c5c5c5;
    padding: 0;
  }

}
