<mat-sidenav-container>
  <mat-sidenav #sidenav [fixedInViewport]="true" (window:resize)="widescreen()" [opened]="widescreen()" mode="side">
    <div class="mm-navbars-top mat-focus-indicator">
      <div class="mm-navbar mm-navbar-size-1">
        <div class="logo">
          <a title="Damap" id="damap-logo" class="mat-focus-indicator" [routerLink]="'/'">
            {{'title'| translate }}
          </a>
        </div>
        <div class="languageElement">
          <button mat-button [matMenuTriggerFor]="language">{{lang}}</button>
          <mat-menu #language="matMenu">
            <button mat-menu-item (click)="useLanguage('en')">EN</button>
            <button mat-menu-item (click)="useLanguage('de')">DE</button>
          </mat-menu>
        </div>
      </div>
    </div>
    <div id="user" class="dark-theme">
      <span> {{name}} </span>
    </div>
    <mat-nav-list>
      <a mat-list-item class="nav-item-mobile" [routerLink]="'/dashboard'"
         routerLinkActive="active">{{'layout.menu.home' | translate }}</a>
      <a mat-list-item class="nav-item-mobile" [routerLink]="'/plans'"
         routerLinkActive="active">{{'layout.menu.plans' | translate }}</a>
      <a mat-list-item (click)="logout()" aria-label="Logout">{{'layout.logout' | translate }}</a>
    </mat-nav-list>
    <div class="version-information">
      {{'layout.version' | translate }}: {{version}}
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <mat-toolbar-row id="mainHeader" [style]="'padding: 0px;'">
        <!-- MOBILE -->
        <div class="mainHeaderLeft">
          <button mat-icon-button title="{{'layout.menu.mobile.open'| translate }}"
                  (click)="sidenav.opened = !sidenav.opened"
                  *ngIf="!sidenav.opened">
            <mat-icon>menu</mat-icon>
          </button>
          <button mat-icon-button title="{{'layout.menu.mobile.close'| translate }}"
                  class="sidenav-btn"
                  (click)="sidenav.opened = !sidenav.opened"
                  *ngIf="sidenav.opened">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <!-- MOBILE End -->
        <div class="mainHeaderRight">
          <nav class="mainHeaderNav">
            <a mat-list-item class="nav-item-desktop" [routerLink]="'/dashboard'"
               routerLinkActive="active">{{'layout.menu.home' | translate }}</a>
            <a mat-list-item class="nav-item-desktop" [routerLink]="'/plans'"
               routerLinkActive="active">{{'layout.menu.plans' | translate }}</a>
          </nav>

        </div>
        <!-- University Logo -->
        <div id="mainHeaderLogo">
          <a class="mat-focus-indicator" title="{{'layout.logo.goback' | translate }}" href="https://www.tuwien.at/">
            <img src="assets/logo.svg" alt="Logo" height="75" width="75">
          </a>
        </div>
        <!-- University Logo End -->
      </mat-toolbar-row>
      <mat-toolbar-row>
        <h1>{{title}}</h1>
      </mat-toolbar-row>

    </mat-toolbar>
    <app-env-banner *ngIf="env === 'DEV'"></app-env-banner>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

