.mat-search-form-field {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 1.25rem;
}

mat-form-field {
  width: 50%;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.button {
  margin: 10px;
}

.button-group {
  padding-top: 15px;
}
