<h2>Legal aspects</h2>
<p>This step helps you consider potential issues concerning personal data, intellectual property rights and ownership and asks you 
  for basic information on the handling of ethical issues within this project.</p>
<div [formGroup]="legalEthicalStep">

  <!--Sensitive Data-->
  <div>
    <mat-label>Is your data or part of it sensitive, for example
      <a
        href="https://ec.europa.eu/info/law/law-topic/data-protection/reform/rules-business-and-organisations/legal-grounds-processing-data/sensitive-data/what-personal-data-considered-sensitive_en"
        target="_blank">
        sensitive personal data</a>, politically sensitive information, or trade secrets?
    </mat-label>
    <mat-radio-group formControlName="sensitiveData">
      <mat-radio-button class="boolean-mat-radio-button" [value]="true">Yes
      </mat-radio-button>
      <mat-radio-button class="boolean-mat-radio-button" [value]="false">No
      </mat-radio-button>
    </mat-radio-group>
    <ng-container *ngIf="legalEthicalStep?.value.sensitiveData && datasets?.length">
      <div>
        <section class="dataset-checkbox-section" [formGroup]="dmpForm">
          Please select the datasets containing sensitive data:
          <div formArrayName="datasets">
            <ng-container *ngFor="let dataset of datasets?.controls; index as i">
              <ng-container [formGroupName]="i">
                <mat-checkbox class="dataset-checkbox"
                              formControlName="sensitiveData">{{dataset.value.title}}</mat-checkbox>
              </ng-container>
            </ng-container>
          </div>
        </section>
      </div>
      <div>
        <div class="form-field-hint">
          <mat-form-field appearance="fill" [style]="'width: 100%'">
            <mat-label>What kind of additional security measures will be taken to ensure that stored and transferred
              sensitive data is safe?
            </mat-label>
            <mat-select formControlName="sensitiveDataSecurity" multiple>
              <mat-option *ngFor="let option of securityOptions | keyvalue: originalOrder" [value]="option.value">
                {{option.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <app-tooltip
            [tooltip]="'Referring to physical security, network security, and security of computer systems and files.'">
          </app-tooltip>
        </div>
        <ng-container *ngIf="isOtherMeasureSelected">
          <app-input-wrapper [label]="'Please specify what other measures are taken:'"
                             [control]="otherDataSecurityMeasures"
                             [appearance]="'fill'"></app-input-wrapper>
        </ng-container>
        <app-input-wrapper [label]="'Who will be authorised to access sensitive data?'"
                           [control]="sensitiveDataAccess"
                           [appearance]="'fill'"></app-input-wrapper>
      </div>
    </ng-container>
    <hr>
  </div>
  <!-- Yes/No Questions-->
  <div *ngFor="let question of questions, last as last">
    <mat-label>{{question.label}}</mat-label>
    <mat-radio-group formControlName="{{question.model}}">
      <mat-radio-button class="boolean-mat-radio-button" [value]="true">Yes
      </mat-radio-button>
      <mat-radio-button class="boolean-mat-radio-button" [value]="false">No
      </mat-radio-button>
    </mat-radio-group>

    <!--Personal Data-->
    <ng-container
      *ngIf="question.model === 'personalData' && legalEthicalStep?.value.personalData && datasets?.length">
      <div>
        <section class="dataset-checkbox-section" [formGroup]="dmpForm">
          Please select the datasets containing personal data:
          <div formArrayName="datasets">
            <ng-container *ngFor="let dataset of datasets?.controls; index as i">
              <ng-container [formGroupName]="i">
                <mat-checkbox class="dataset-checkbox"
                              formControlName="personalData">{{dataset.value.title}}</mat-checkbox>
              </ng-container>
            </ng-container>
          </div>
        </section>
      </div>
      <div>
        <mat-form-field appearance="fill" [style]="'width: 100%'">
          <mat-label>How will compliance with applicable legislation be ensured?</mat-label>
          <mat-select formControlName="personalDataCompliance" multiple>
            <mat-option *ngFor="let option of complianceOptions | keyvalue: originalOrder" [value]="option.value">
              {{option.value}}
            </mat-option>
          </mat-select>
          <mat-hint>Make sure you follow the TU Wien guidance on informed consent.</mat-hint>
        </mat-form-field>
        <br><br>
        <ng-container *ngIf="isOtherSelected">
          <app-input-wrapper [label]="'Please specify what other measures are taken:'"
                             [control]="otherPersonalDataCompliance"
                             [appearance]="'fill'"></app-input-wrapper>
        </ng-container>
      </div>
    </ng-container>

    <!--Legal Restrictions-->
    <ng-container
      *ngIf="question.model === 'legalRestrictions' && legalEthicalStep?.value.legalRestrictions && datasets?.length">
      <div>
        <section class="dataset-checkbox-section" [formGroup]="dmpForm">
          Please select the datasets concerned:
          <div formArrayName="datasets">
            <ng-container *ngFor="let dataset of datasets?.controls; index as i">
              <ng-container [formGroupName]="i">
                <mat-checkbox class="dataset-checkbox"
                              formControlName="legalRestrictions">{{dataset.value.title}}</mat-checkbox>
              </ng-container>
            </ng-container>
          </div>
        </section>
      </div>
      <div>
        <app-input-wrapper [label]="'Please specify the legal restrictions:'" [appearance]="'fill'"
                           [control]="legalRestrictionsComment"></app-input-wrapper>
      </div>
      <mat-form-field appearance="fill" [style]="'width: 100%'">
        <mat-label>In which document(s) are these restrictions specified?</mat-label>
        <mat-select formControlName="legalRestrictionsDocuments" multiple>
          <mat-option *ngFor="let option of agreementOptions | keyvalue: originalOrder" [value]="option.value">
            {{option.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <ng-container *ngIf="isOtherDocumentSelected">
        <app-input-wrapper [label]="'Please specify the other documents:'"
                           [appearance]="'fill'" [control]="otherLegalRestrictionsDocuments"></app-input-wrapper>
      </ng-container>
      <app-input-wrapper [label]="'Who has rights to the produced data and who controls access to the data?'"
                         [appearance]="'fill'" [control]="dataRightsAndAccessControl"></app-input-wrapper>
    </ng-container>
    <hr *ngIf="!last">
  </div>
</div>

<app-ethical-aspects [legalEthicalStep]="legalEthicalStep"></app-ethical-aspects>
