<p>This step helps you to consider issues like personal data, intellectual property rights and ownership.</p>
<form [formGroup]="legalEthicalStep">
  <div *ngFor="let question of questions">
    <mat-label>{{question.label}}</mat-label>
    <mat-radio-group formControlName="{{question.model}}">
      <mat-radio-button class="mat-radio-button" [value]="true">Yes
      </mat-radio-button>
      <mat-radio-button class="mat-radio-button" [value]="false">No
      </mat-radio-button>
    </mat-radio-group>
    <br/>
  </div>

  <mat-form-field appearance="fill" [style]="'width: 100%'" *ngIf="legalEthicalStep.value.sensitiveData">
    <mat-label [style]="'white-space: normal;'">
      What kind of additional security measures in terms of physical security,
      network security, and security of computer systems and files will be taken
        to ensure that stored and transferred sensitive data is safe?
    </mat-label>
    <textarea matInput formControlName="sensitiveDataSecurity"></textarea>
  </mat-form-field>

  <mat-form-field appearance="fill" [style]="'width:100%'">
    <mat-label>Links to ethics report or related document:</mat-label>
    <textarea matInput formControlName="ethicsReport"></textarea>
  </mat-form-field>

  <mat-form-field appearance="fill" [style]="'width:100%'">
    <mat-label>Other statement regarding ethical compliance (optional):</mat-label>
    <textarea matInput formControlName="optionalStatement"></textarea>
  </mat-form-field>
</form>
