<p>This step helps you to consider issues like personal data, intellectual property rights and ownership.</p>
<div [formGroup]="legalEthicalStep">
  <div *ngFor="let question of questions">
    <mat-label>{{question.label}}</mat-label>
    <mat-radio-group formControlName="{{question.model}}">
      <mat-radio-button class="boolean-mat-radio-button" [value]="true">Yes
      </mat-radio-button>
      <mat-radio-button class="boolean-mat-radio-button" [value]="false">No
      </mat-radio-button>
    </mat-radio-group>
    <ng-container *ngIf="question.model === 'personalData' && legalEthicalStep?.value.personalData && datasets?.length">
      <div>
        <section class="dataset-checkbox-section" [formGroup]="dmpForm">
          Please select the datasets containing personal data:
          <div formArrayName="datasets">
            <ng-container *ngFor="let dataset of datasets?.controls; index as i">
              <ng-container [formGroupName]="i">
                <mat-checkbox class="dataset-checkbox"
                              formControlName="personalData">{{dataset.value.title}}</mat-checkbox>
              </ng-container>
            </ng-container>
          </div>
        </section>
      </div>
      <div>
        <mat-form-field appearance="fill" [style]="'width: 100%'">
          <mat-label>How will compliance with applicable legislation be ensured?</mat-label>
          <mat-select formControlName="personalDataCompliance" multiple>
            <mat-option *ngFor="let option of complianceOptions | keyvalue: originalOrder" [value]="option.value">
              {{option.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <ng-container *ngIf="isOtherSelected">
          <app-input-wrapper [label]="'Please specify what other measures are taken.'"
                             [control]="otherPersonalDataCompliance"></app-input-wrapper>
        </ng-container>
      </div>
      <app-input-wrapper [label]="'How will you ensure that only authorised users can access personal data?'"
                         [appearance]="'fill'" [control]="personalDataAccess"></app-input-wrapper>
    </ng-container>
    <ng-container
      *ngIf="question.model === 'sensitiveData' && legalEthicalStep?.value.sensitiveData && datasets?.length">
      <div>
        <section class="dataset-checkbox-section" [formGroup]="dmpForm">
          Please select the datasets containing sensitive data:
          <div formArrayName="datasets">
            <ng-container *ngFor="let dataset of datasets?.controls; index as i">
              <ng-container [formGroupName]="i">
                <mat-checkbox class="dataset-checkbox"
                              formControlName="sensitiveData">{{dataset.value.title}}</mat-checkbox>
              </ng-container>
            </ng-container>
          </div>
        </section>
      </div>
      <app-textarea-wrapper
        [label]="'What kind of additional security measures in terms of physical security, network security, and security of computer systems and files will be taken to ensure that stored and transferred sensitive data is safe?'"
        [control]="sensitiveDataSecurity"></app-textarea-wrapper>
    </ng-container>
    <ng-container
      *ngIf="question.model === 'legalRestrictions' && legalEthicalStep?.value.legalRestrictions && datasets?.length">
      <div>
        <section class="dataset-checkbox-section" [formGroup]="dmpForm">
          Please select the datasets concerned:
          <div formArrayName="datasets">
            <ng-container *ngFor="let dataset of datasets?.controls; index as i">
              <ng-container [formGroupName]="i">
                <mat-checkbox class="dataset-checkbox"
                              formControlName="legalRestrictions">{{dataset.value.title}}</mat-checkbox>
              </ng-container>
            </ng-container>
          </div>
        </section>
      </div>
      <div>
        <app-input-wrapper [label]="'Please explain:'" [appearance]="'fill'"
                           [control]="legalRestrictionsComment"></app-input-wrapper>
      </div>
    </ng-container>
    <ng-container *ngIf="question.model === 'ethicalIssues' && legalEthicalStep?.value.ethicalIssues">
      <mat-radio-group formControlName="committeeApproved">
        <mat-label>Was your plan to deal with these ethical issues approved by the ethics committee?</mat-label>
        <mat-radio-button class="boolean-mat-radio-button" [value]="true">Yes
        </mat-radio-button>
        <mat-radio-button class="boolean-mat-radio-button" [value]="false">No
        </mat-radio-button>
      </mat-radio-group>
      <app-textarea-wrapper *ngIf="legalEthicalStep?.value.committeeApproved"
                            [label]="'Links to ethics report or related documents:'"
                            [control]="ethicsReport"></app-textarea-wrapper>
      <!-- <input type = "text" matInput formControlName="ethicsReport" [matAutocomplete] = "autol"/>
       <mat-autocomplete #autol = "matAutocomplete">
           <mat-option *ngFor = "let option of optionsLinksEthics" [value] = "option">
             <a href="https://www.tuwien.at/index.php?eID=dms&s=4&path=Directives%20and%20Regulations%20of%20the%20Rectorate/Code%20of%20Conduct%20%E2%80%93%20Rules%20to%20Ensure%20Good%20Scientific%20Practice.pdf"> {{option}}
             </a>
           </mat-option>
       </mat-autocomplete>-->
    </ng-container>
  </div>

  <app-textarea-wrapper [label]="'Other statement regarding ethical compliance (optional):'"
                        [control]="ethicalComplianceStatement"></app-textarea-wrapper>
</div>
