<mat-form-field [appearance]="appearance">
  <mat-label class="wrap-label">{{label | translate}}</mat-label>
  <span matPrefix>{{prefix}}</span>
  <input matInput [formControl]="control" [placeholder]="placeholder" [type]="type || 'text'" [required]="required"
         [step]="type === 'number' ? 0.01 : null">
  <mat-error *ngIf="!control?.errors?.required && control?.errors?.empty">
    {{'form.error.empty' | translate}}
  </mat-error>
  <mat-error *ngIf="control?.errors?.required">
    {{'form.error.required' | translate}}
  </mat-error>
  <mat-error *ngIf="control?.errors?.maxlength">
    {{'form.error.maxlength' | translate: {value: control.errors.maxlength?.requiredLength} }}
    <!-- "maxlength": { "requiredLength": 255, "actualLength": 273 } -->
  </mat-error>
  <mat-error *ngIf="control?.errors?.pattern">
    {{'form.error.pattern.currency' | translate}}
    <!-- { "pattern": { "requiredPattern": "^[0-9]*.?[0-9]{0,2}$", "actualValue": "123,345" } } false -->
  </mat-error>
  <mat-error *ngIf="control?.errors?.orcid">
    {{'form.error.orcid' | translate}}
  </mat-error>
</mat-form-field>
<!--{{control.errors | json}}-->
<!--{{control.valid}}-->
