<mat-accordion>
  <mat-expansion-panel [expanded]="show" hideToggle>
    <mat-expansion-panel-header (click)="show = !show">
      <mat-panel-title>
        Filter repositories
      </mat-panel-title>
      <mat-icon>filter_alt</mat-icon>
    </mat-expansion-panel-header>

    <app-tree-select-form-field [label]="'Subjects'" [treeData]="filters.subjects"
                                (params)="onFilterChange('subjects', $event)"></app-tree-select-form-field>
    <app-tree-select-form-field [label]="'Content types'" [treeData]="filters.contentTypes"
                                (params)="onFilterChange('contentTypes', $event)"></app-tree-select-form-field>
    <app-tree-select-form-field [label]="'Countries'" [treeData]="filters.countries"
                                (params)="onFilterChange('countries', $event)"></app-tree-select-form-field>
    <app-tree-select-form-field [label]="'Certificates'" [treeData]="filters.certificates"
                                (params)="onFilterChange('certificates', $event)"></app-tree-select-form-field>
    <app-tree-select-form-field [label]="'PID systems'" [treeData]="filters.pidSystems"
                                (params)="onFilterChange('pidSystems', $event)"></app-tree-select-form-field>
    <app-tree-select-form-field [label]="'AID systems'" [treeData]="filters.aidSystems"
                                (params)="onFilterChange('aidSystems', $event)"></app-tree-select-form-field>
    <app-tree-select-form-field [label]="'Repository access'" [treeData]="filters.accessTypes"
                                (params)="onFilterChange('repositoryAccess', $event)"></app-tree-select-form-field>
    <app-tree-select-form-field [label]="'Data access'" [treeData]="filters.dataAccessTypes"
                                (params)="onFilterChange('dataAccess', $event)"></app-tree-select-form-field>
    <app-tree-select-form-field [label]="'Data upload'" [treeData]="filters.accessTypes"
                                (params)="onFilterChange('dataUpload', $event)"></app-tree-select-form-field>
    <app-tree-select-form-field [label]="'Data licenses'" [treeData]="filters.dataLicenses"
                                (params)="onFilterChange('dataLicenses', $event)"></app-tree-select-form-field>
    <app-tree-select-form-field [label]="'Repository types'" [treeData]="filters.repositoryTypes"
                                (params)="onFilterChange('repositoryTypes', $event)"></app-tree-select-form-field>
    <app-tree-select-form-field [label]="'Institution types'" [treeData]="filters.institutionTypes"
                                (params)="onFilterChange('institutionTypes', $event)"></app-tree-select-form-field>
    <app-tree-select-form-field [label]="'Versioning'" [treeData]="filters.versioning"
                                (params)="onFilterChange('versioning', $event)"></app-tree-select-form-field>
    <app-tree-select-form-field [label]="'Metadata standards'" [treeData]="filters.metadataStandards"
                                (params)="onFilterChange('metadataStandards', $event)"></app-tree-select-form-field>

  </mat-expansion-panel>
</mat-accordion>
