<mat-label class="label-title mat-title-large" id="example-radio-group-label">{{
  'dmp.steps.project.input.info' | translate
}}</mat-label>
<mat-card class="manual-project-input-card card-shadow">
  <mat-card-content>
    <form>
      <div class="form-row">
        <app-input-wrapper
          class="input-full"
          [control]="title"
          label="{{ 'dmp.steps.project.input.title' | translate }}"
        />
        <app-input-wrapper
          class="input-fill"
          [control]="acronym"
          label="{{ 'dmp.steps.project.input.acronym' | translate }}"
        />
        <mat-form-field class="input-fill">
          <mat-label>{{ 'dmp.steps.project.input.date' | translate }}</mat-label>
          <mat-date-range-input [formGroup]="form" [rangePicker]="picker">
            <input matStartDate formControlName="start" placeholder="Start date" />
            <input matEndDate formControlName="end" placeholder="End date" />
          </mat-date-range-input>
          <mat-hint>{{ 'dmp.steps.project.input.datehint' | translate }}</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker" />
          <mat-date-range-picker #picker />
        </mat-form-field>
      </div>
      <app-textarea-wrapper
        [control]="description"
        [label]="'dmp.steps.project.input.short.description'"
        [longLabel]="'dmp.steps.project.input.long.description'"
      />
      <button
        class="button-position-left"
        mat-flat-button
        [disabled]="form.invalid"
        (click)="updateProject()"
      >
        {{
          project !== null
            ? ('dmp.steps.project.input.button.existing' | translate)
            : ('dmp.steps.project.input.button.new' | translate)
        }}
      </button>
    </form>
  </mat-card-content>
</mat-card>
