<app-step-intro>{{'dmp.steps.documentation.intro' | translate}}
</app-step-intro>

<app-textarea-wrapper [label]="'dmp.steps.documentation.question.datageneration'"
                      [control]="dataGeneration">
</app-textarea-wrapper>

<app-textarea-wrapper
  [label]="'dmp.steps.documentation.question.structure'"
  [control]="structure" [autocompleteOptions]="optionsStructureAndVersioning">
</app-textarea-wrapper>

<app-textarea-wrapper
  [label]="'dmp.steps.documentation.question.metadata'"
  [control]="metadata" [autocompleteOptions]="optionsMetadata">
</app-textarea-wrapper>
