<p>This step helps you to specify the description of your datasets and their generation. This may include information on the 
  methodology used to collect the data, analytical and procedural information, definitions of variables, units of measurement, 
  information on data organisation and so on. </p>
<app-textarea-wrapper
  [label]="'Please indicate which metadata will be provided to help others identify, discover and reuse the data.'"
  [control]="metadata" [autocompleteOptions]="optionsMetadata">
</app-textarea-wrapper>

<app-textarea-wrapper [label]="'How will the research data be generated and which methods will be used?'"
                      [control]="dataGeneration">
</app-textarea-wrapper>

<app-textarea-wrapper
  [label]="'How will you structure the data and handle versioning?'"
  [control]="structure" [autocompleteOptions]="optionsStructureAndVersioning">
</app-textarea-wrapper>
