<!-- Selected project -->
<div *ngIf="projectStep?.value">
  <p>{{'dmp.steps.project.selected' | translate}}:</p>
  <mat-card class="mat-selected">
    <div class="mat-card-container">
      <div class="mat-card-left">
        <div><strong>{{projectStep.value.title}}</strong></div>
        <mat-icon class="mat-icon-style">date_range</mat-icon>
        {{projectStep.value.start | date}} - {{projectStep.value.end | date}}
      </div>
      <div class="mat-card-right">
        <button mat-button (click)="changeProject(null)">
          <mat-icon color="white">delete</mat-icon>
        </button>
      </div>
    </div>
  </mat-card>
</div>

<mat-tab-group #tabGroup mat-align-tabs="start" animationDuration="0ms">

  <!-- Project list -->
  <mat-tab label="{{'dmp.steps.project.list' | translate}}">
    <div *ngIf="loaded === LoadingState.LOADING">
      <p>{{'dmp.steps.project.loading.load' | translate}}</p>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <div *ngIf="loaded === LoadingState.LOADED">
      <div>
        <app-project-list [selectedProject]="projectStep?.value" [projects]="projects"
                          (projectToSet)="changeProject($event)"></app-project-list>
      </div>
      <button mat-raised-button color="primary" *ngIf="!projects?.length"
              (click)="changeTab(1)">{{'dmp.steps.project.manual.input' | translate}}</button>
    </div>
    <div *ngIf="loaded === LoadingState.FAILED">
      <app-error-message [message]="'dmp.steps.project.loading.failed'"></app-error-message>
    </div>
  </mat-tab>

  <!-- Manual project input -->
  <mat-tab label="{{'dmp.steps.project.manual.input' | translate}}">
    <app-manual-project-input [project]="projectStep?.value"
                              (projectUpdate)="changeProject($event)"></app-manual-project-input>
  </mat-tab>
</mat-tab-group>


