<!-- Selected project -->
<div *ngIf="projectStep.value != null">
  <p>You selected:</p>
  <mat-card class="mat-selected">
    <div class="mat-card-container">
      <div class="mat-card-left">
        <div><b>{{projectStep.value.title}}</b></div>
        <mat-icon class="mat-icon-style">date_range</mat-icon>
        {{projectStep.value.start | date}} - {{projectStep.value.end | date}}
      </div>
      <div class="mat-card-right">
        <button mat-button (click)="changeProject(null)">
          <mat-icon color="white">delete</mat-icon>
        </button>
      </div>
    </div>
  </mat-card>
</div>

<div *ngIf="!loaded">
  <p>Load projects...</p>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<div *ngIf="loaded && projects && projects.length > 0">
  <p *ngIf="projectStep.value == null">
    Please select the project you want to create a DMP for:</p>
  <form>
    <mat-form-field>
      <mat-label>Search project...</mat-label>
      <input #searchBox type="search" matInput>
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <div class="list-container">
      <mat-selection-list [multiple]="false" style="'height: 500px; overflow:scroll'">
        <mat-list-option *ngFor="let project of (projects | projectFilter:searchBox.value)"
                         [style]="'height: auto;'" [selected]="project.universityId === projectStep?.value?.universityId">
          <mat-list-item (click)="changeProject(project)">
            <div class="mat-card-left">
              <div mat-line><b>{{project.title}}</b></div>
              <div mat-line>
                <mat-icon class="mat-icon-style">date_range</mat-icon>
                {{project.start | date}} - {{project.end | date}}</div>
            </div>
          </mat-list-item>
        </mat-list-option>
      </mat-selection-list>
    </div>
  </form>
</div>
