table {
  width: 100%;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: whitesmoke;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.mat-column-edit,
.mat-column-remove,
.mat-column-history {
  max-width: 30px;
}

.project-overview {
  text-align: left;
  float: left;
  width: 50%;
  padding: 20px;
}

.project-description {
  text-align: left;
  float: right;
  width: 50%;
  padding: 20px;
}
