<div class="repo-details-container">
  <p>{{ repo.description }}</p>

  @if (repo.contentTypes) {
    <div>
      {{ 'dmp.steps.repositories.contenttypes' | translate }}:
      @for (type of repo.contentTypes; track type) {
        <div class="content-types tag">
          {{ type }}
        </div>
      }
    </div>
  }
  @if (repo.metadataStandards) {
    <div>
      {{ 'dmp.steps.repositories.metadatastandards' | translate }}:
      @for (standard of repo.metadataStandards; track standard) {
        <div class="metadata-standards tag">
          {{ standard }}
        </div>
      }
    </div>
  }
  @if (repo.repositoryLanguages) {
    <div>
      {{ 'dmp.steps.repositories.languages' | translate }}:
      @for (lang of repo.repositoryLanguages; track lang) {
        <div class="lang tag">
          {{ lang | uppercase }}
        </div>
      }
    </div>
  }

  @if (repo.repositoryURL) {
    <div>
      <a [href]="repo.repositoryURL" target="_blank">{{ repo.repositoryURL }}</a>
    </div>
  }
</div>
