<button mat-stroked-button (click)="addExternalStorage()" [style]="'margin: 5px;'">
  {{'dmp.steps.storage.external.add' | translate}}
</button>
<section class="external-storage">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let item of externalStorageStep?.controls; let i = index">
      <mat-expansion-panel-header>
        <mat-panel-title [class.form-error]="item.invalid">
          {{item.value.title}}
        </mat-panel-title>
        <mat-panel-description>
          {{item.value.backupLocation}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="form-row">
        <div class="form-row-group">
          <app-input-wrapper [label]="'dmp.steps.storage.external.question.name'"
                             [control]="getFormControl(i, 'title')"></app-input-wrapper>
          <button mat-icon-button color="accent" aria-label="{{'dmp.steps.storage.external.remove' | translate}}"
                  (click)="removeExternalStorage(i)">
            <mat-icon>cancel</mat-icon>
          </button>
        </div>
      </div>
      <div class="form-row">
        <div class="form-row-group">
          <app-input-wrapper [label]="'dmp.steps.storage.external.question.location'"
                             [control]="getFormControl(i, 'storageLocation')"></app-input-wrapper>
          <app-input-wrapper [label]="'dmp.steps.storage.external.question.backup.location'"
                             [control]="getFormControl(i, 'backupLocation')"></app-input-wrapper>
        </div>
      </div>
      <div class="form-row">
        <div class="form-row-group">
          <app-input-wrapper [label]="'dmp.steps.storage.external.question.backup.frequency'"
                             [control]="getFormControl(i, 'backupFrequency')"></app-input-wrapper>
          <mat-form-field>
            <mat-label>Dataset(s) stored</mat-label>
            <mat-select multiple [formControl]="getFormControl(i, 'datasets')">
              <mat-option *ngFor="let dataset of datasets?.controls" [value]="dataset.value.referenceHash">
                {{dataset.value.title}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <div *ngIf="externalStorageStep?.controls.length" class="storage-textarea" [style]="'margin: 5px;'">
    <app-textarea-wrapper [label]="'dmp.steps.storage.external.question.info'"
                          [control]="externalStorageInfo" [appearance]="'fill'">
    </app-textarea-wrapper>
  </div>
</section>
