<div class="content">
  <h2 translate>title</h2>
  <section translate>dashboard.welcome.message</section>
  <h3 translate>dashboard.dmp.heading</h3>
  <section translate>dashboard.dmp.text</section>
  <h3 translate>dashboard.tool.heading</h3>
  <ul>
    <li translate>dashboard.tool.bulletpoints.dmp</li>
    <li translate>dashboard.tool.bulletpoints.document</li>
    <li translate>dashboard.tool.bulletpoints.benefits.text
      <ul>
        <li translate>dashboard.tool.bulletpoints.benefits.one</li>
        <li translate>dashboard.tool.bulletpoints.benefits.two</li>
        <li translate>dashboard.tool.bulletpoints.benefits.three</li>
      </ul>
    </li>
    <li translate>dashboard.tool.bulletpoints.madmp</li>
  </ul>
</div>
