<div class="page">
  <div class="content">
    <div class="icon-wrapper">
      <mat-icon>domain_disabled</mat-icon>
    </div>

    <h1>No access</h1>

    <p class="mat-title-medium">Your account affiliation is not registered as a tenant in DAMAP.</p>

    <p class="mat-body-medium description">
      Thank you for your interest in using DAMAP. Your institution has not activated access to DAMAP
      yet. Please contact your home organisation for this. If you would like to test DAMAP, please
      visit our
      <a href="https://damap.org/" target="_blank" rel="noopener"> website </a>
      for further instruction, or contact us directly at
      <a href="mailto:info@damap.org"> info&#64;damap.org </a>
      .
    </p>

    <a mat-flat-button class="landing-page-button" (click)="logout()"> Go back to landing page </a>
  </div>
</div>
