@import '~@angular/material/theming';
// Plus imports for other components in your app.
@import 'custom-palettes';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
/*
Use TU Color Palettes for Angular Materials
used in angular.json projects > dmap-frontend > architect > build > styles
 */

$tu-wien-primary: mat-palette($custom-blue);
$tu-wien-accent: mat-palette($custom-grey);

$app-primary: $tu-wien-primary;
$app-accent:  $tu-wien-accent;

// The warn palette is optional (defaults to red).
$app-warn:    mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as `color` or `typography`.
$app-light-theme: mat-light-theme($app-primary, $app-accent, $app-warn);
$app-dark-theme: mat-dark-theme($app-primary, $app-accent, $app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-light-theme);
.dark-theme {
  @include angular-material-color($app-dark-theme);
}
