/* You can add global styles to this file, and also import other style files */
@import 'themes/custom-theme';

/* Theme colors as CSS variables */
:root {
  --main-color: #{map-get($app-primary, 500)};
  --main-color-contrast: #{map-get($app-primary, '500-contrast')};
  --accent-color-lighter: #{map-get($app-primary, 400)};
  --accent-color-darker: #{map-get($app-primary, 700)};
  --secondary-color: #{map-get($app-accent, 500)};
  --secondary-color-light: #{map-get($app-accent, 50)};
  --step-intro-color: #9b9b9b;
  --error-bg: #FAD1D5;
  --success-bg: #E9F5D2;
  --info-bg: #C4D8E2;
  --warning-bg: #FFF4CB;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: .03rem;
  font-weight: 300;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  clip-path: inset(50%);
  border: 0
}

*, ::after, ::before {
  box-sizing: border-box;
}

.mat-icon-style {
  font-size: smaller;
}

.mat-card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mat-card-left {
  flex-direction: column;
  flex-grow: 1;
  /*width: 90%;*/
}

.mat-card-right {
  /*float: right;*/
}

.mat-selected {
  background-color: #f5f5f5 !important;
}

mat-card {
  margin: 5px;
}

.snack-error {
  background-color: var(--error-bg);
  color: black;
  font-weight: bold;
}

.snack-success {
  background-color: var(--success-bg);
  color: black;
  font-weight: bold;
}

.full-width {
  width: 100%;
}

.wrap-normal-label {
  white-space: normal;
  height: auto;
}

.mat-tooltip {
  font-size: 0.75rem !important;
  line-height: 1rem;
  background: #2a2a2a;
}

.flex-radio {
  display: flex;
  flex-direction: column;
}

/* Form row styling */
.form-row {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.form-row-group {
  display: inline-flex;
  flex-wrap: wrap;
  flex-grow: 1;
  gap: 1rem;
  align-items: baseline;
}

.button-row {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.button-row-left {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

/* Form field tooltip */
.form-field-hint {
  display: flex;
}

.form-error {
  color: red;
}

.form-error::before {
  font-family: "Material Icons", sans-serif;
  content: "warning";
  padding-right: 0.5rem;
}
