<h1 mat-dialog-title>New data estimation</h1>
<!-- TODO: distribution title needed -->
<div mat-dialog-content>
  <mat-grid-list cols="2" rowHeight="3:1">
    <mat-grid-tile>
      <mat-form-field>
        <mat-label>Estimated type</mat-label>
        <mat-select>
          <mat-option *ngFor="let type of filetypes" [value]="type">
            {{type.label}}<br/>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field>
        <mat-label>Estimated size</mat-label>
        <mat-select>
          <mat-option *ngFor="let size of filesizes" [value]="size">
            {{size.label}}<br/>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field>
        <mat-label>Belongs to dataset</mat-label>
        <mat-select [disabled]="!data?.length">
          <mat-option *ngFor="let option of data" [value]="option">
            {{option.getTitle()}}<br/>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Comment</mat-label>
          <input matInput>
        </mat-form-field>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
</div>


<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="" mat-raised-button color="primary">Add</button>
</div>
