<ng-container *ngIf="dmp">
  <!-- Sensitive data -->
  <div>
    <div>
      <span class="headings">{{'versions.view.legal.sensitive.data.present' | translate}}:</span>
      <ng-container *ngIf="dmp.sensitiveData else no"> {{'yes' | translate}}</ng-container>
    </div>
    <ng-container *ngIf="dmp.sensitiveData">
      <div>
        <span class="headings">{{'versions.view.legal.sensitive.data.security' | translate}}:</span>
        <span *ngFor="let item of dmp.sensitiveDataSecurity, last as last">
        {{'enum.securitymeasure.' + item | translate}}<span *ngIf="!last">, </span>
      </span>
      </div>
      <div *ngIf="otherSecurityMeasure">
        <span class="headings">{{'versions.view.legal.sensitive.data.other.security' | translate}}:</span>
        {{dmp.otherDataSecurityMeasures}}
      </div>
      <div>
        <span class="headings">{{'versions.view.legal.sensitive.data.access' | translate}}:</span>
        {{dmp.sensitiveDataAccess}}
      </div>
    </ng-container>
  </div>

  <!-- Personal data -->
  <div>
    <div>
      <span class="headings">{{'versions.view.legal.personal.data.present' | translate}}:</span>
      <ng-container *ngIf="dmp.personalData else no"> {{'yes' | translate}}</ng-container>
    </div>
    <ng-container *ngIf="dmp.personalData">
      <div>
        <span class="headings">{{'versions.view.legal.personal.data.compliance' | translate}}:</span>
        <span *ngFor="let item of dmp.personalDataCompliance, last as last">
        {{'enum.compliance.' + item | translate}}<span *ngIf="!last">, </span>
      </span>
      </div>
      <div *ngIf="otherCompliance">
        <span class="headings">{{'versions.view.legal.personal.data.other.compliance' | translate}}:</span>
        {{dmp.otherPersonalDataCompliance}}
      </div>
    </ng-container>
  </div>

  <!-- Legal restrictions -->
  <div>
    <div>
      <span class="headings">{{'versions.view.legal.restrictions.present' | translate}}:</span>
      <ng-container *ngIf="dmp.legalRestrictions else no"> {{'yes' | translate}}</ng-container>
    </div>
    <ng-container *ngIf="dmp.legalRestrictions">
      <div>
        <span class="headings">{{'versions.view.legal.restrictions.comment' | translate}}:</span>
        {{dmp.legalRestrictionsComment}}
      </div>
      <div *ngIf="dmp.personalDataCompliance">
        <span class="headings">{{'versions.view.legal.restrictions.documents' | translate}}:</span>
        <span *ngFor="let item of dmp.legalRestrictionsDocuments, last as last">
        {{'enum.agreement.' + item | translate}}<span *ngIf="!last">, </span>
      </span>
      </div>
      <div *ngIf="otherDocuments">
        <span class="headings">{{'versions.view.legal.restrictions.other.documents' | translate}}:</span>
        {{dmp.otherLegalRestrictionsDocument}}
      </div>
      <div>
        <span class="headings">{{'versions.view.legal.restrictions.data.rights.access' | translate}}:</span>
        {{dmp.dataRightsAndAccessControl}}
      </div>
    </ng-container>
  </div>

  <!-- Human participants -->
  <div>
    <span class="headings">{{'versions.view.ethical.human.participants' | translate}}:</span>
    <ng-container *ngIf="dmp.humanParticipants else no"> {{'yes' | translate}}</ng-container>
  </div>

  <!-- Ethical issues -->
  <div>
    <span class="headings">{{'versions.view.ethical.issues' | translate}}:</span>
    <ng-container *ngIf="dmp.ethicalIssuesExist else no"> {{'yes' | translate}}</ng-container>
  </div>

  <!-- Ethics committee -->
  <div>
    <span class="headings">{{'versions.view.ethical.committee.reviewed' | translate}}:</span>
    <ng-container *ngIf="dmp.committeeReviewed else no"> {{'yes' | translate}}</ng-container>
  </div>

  <ng-template #no> {{'no' | translate}}</ng-template>
</ng-container>
