.mat-sidenav-container {
  min-height: calc(100% - 50px);
  overflow: clip;
}

.mat-sidenav-content {
  overflow: visible;
}

.mat-sidenav.collapsed .menu-icon-text {
  display: none;
}

.mat-sidenav.collapsed .logout-container {
  justify-content: center !important;
}

.menu-icon-size {
  transform: scale(1.2) !important;
  margin: 13px;
}

.mat-sidenav.collapsed {
  width: 90px !important;
}

.menu-icon-text {
  display: inline;
  text-align: center;
}

.mat-sidenav-opened .mat-sidenav-content {
  margin-left: 301px;
}

.mat-sidenav-collapsed .mat-sidenav-content {
  margin-left: 90px;
}

@media (max-width: 1200px) {
  .mat-sidenav.collapsed .bottom-section {
    bottom: 70px !important;
  }
}

.sidenav-btn {
  display: block;
  margin: 10px 25px;
}

.mat-sidenav.collapsed .bottom-section {
  bottom: 70px !important;
}

.mat-sidenav::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.footer-desktop {
  font-size: small;
  display: flex;
  justify-content: flex-end;
  position: sticky;
  bottom: 0;
}

.footer-mobile {
  font-size: small;
  display: flex;
  justify-content: flex-end;
  position: sticky;
  bottom: 0;
}

.mat-sidenav {
  width: 301px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  height: 100%;
  -ms-overflow-style: none;
  box-shadow: 3px 0 6px rgba(255, 255, 255, 0.2);
}

.mat-nav-list {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.logout-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.5rem 0;
}

.mat-divider {
  border-top-color: var(--surface-container-low);
}

.footer {
  background-color: var(--user-navbar-color);
  color: white;
  font-size: small;
  padding: 1rem 1rem;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
}

.mat-sidenav.collapsed .footer {
  display: none;
}

.mat-sidenav.collapsed .footer-icon {
  display: flex;
}

.footer a {
  color: white;
  text-decoration: none;
  padding: 0 0.5rem;
}

.footer-icon {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: var(--user-navbar-color);
  color: white;
  padding: 0.5rem 0 1rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.version-text {
  display: inline-block;
  color: var(--neutral-color-medium-light) !important;
}

#logout {
  transform: scale(0.7);
}

.info {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
}

mat-nav-list {
  width: 100%;
}

.mm-navbars-top a {
  color: var(--on-primary);
}

.mm-navbars-top {
  line-height: 70px;
  height: 70px;
  border-width: 0;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
}

.bottom-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  bottom: 130px;
  width: 100%;
}

.mm-navbar-button {
  color: var(--primary-lightest) !important;
  height: 100%;
}

.mm-navbar {
  padding: 0;
  border: none;
  position: relative;
  background-color: var(--primary);
  color: var(--on-primary);
  width: 100%;
  float: left;
  clear: both;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  flex-grow: 0;
  height: 100%;
}

.logo {
  flex-basis: 100%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  text-align: left;
  font-size: 2rem;
  font-weight: 500;
}

.languageElement-desktop {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.languageElement-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 15px;
  position: absolute;
  left: 20px;
  top: 0px;
}

.languageElement-mobile button {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  text-align: center;
}

.logo A {
  margin-left: 30px;
  transition:
    color 0.3s ease,
    background 0.3s ease;
  line-height: 50px;
  height: 50px;
  text-decoration: none;
}

#user {
  height: 35px !important;
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 10px;
  background-color: var(--user-navbar-color);
  color: var(--neutral-color-medium-light) !important;
}

#user > div {
  font-weight: 400;
}

#user .mat-icon {
  transform: scale(1);
}

#mainHeader {
  height: 70px;
  overflow: visible;
}

#mainHeader #mainHeaderLogo A {
  top: 5px;
  position: relative;
  display: block;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

#mainHeader .mainHeaderRight {
  margin-left: auto;
  display: flex;
  align-content: flex-end;
}

.mainHeaderNav {
  display: flex;
  min-width: 50px;
  margin-right: 20px;
  font-size: 1.2rem;
}

.nav-item-desktop {
  padding: 0 15px;
  text-decoration: none;
  color: var(--primary);
  text-transform: uppercase;
  line-height: 70px;
  font-family: FFDINWebPro, sans-serif;
  font-weight: 700;
  display: block;
}

.mm-navbars-top .languageElement A {
  line-height: 70px;
  height: 70px;
}

@media (max-width: 800px) {
  #mainHeader #mainHeaderLogo A {
    position: relative;
    margin-top: 0;
  }

  .sidenav-btn {
    display: block;
    margin: 10px 25px;
  }

  .mat-sidenav.collapsed .bottom-section {
    bottom: 70px !important;
  }

  .mat-sidenav .logout-container {
    justify-content: flex-end !important;
  }

  .logout-container {
    justify-content: center;
  }
}

#mainHeader #mainHeaderLogo {
  top: 5px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100px;
  padding-right: 15px;
}

#mainHeaderLogo A svg {
  width: 100%;
  height: auto;
}

.mainHeaderLeft {
  background-color: var(--secondary-container);
  padding: 5px;
}

.mat-icon {
  transform: scale(1.4);
}

.active {
  background-color: var(--surface-container-low);
  padding-left: 22px;
  font-weight: 400;
}
