<mat-sidenav-container autosize>
  <mat-sidenav
    #sidenav
    [mode]="isSmallScreen && !isCollapsed ? 'over' : 'side'"
    [opened]="true"
    [ngClass]="{ collapsed: isCollapsed }"
    [ngStyle]="{ width: isCollapsed ? '90px' : '300px' }"
    [fixedInViewport]="true"
    [disableClose]="true"
    class="mat-sidenav">
    <div class="mm-navbars-top mat-focus-indicator">
      <div class="mm-navbar">
        <button
          mat-icon-button
          title="{{ 'sidebar.header.button.hint' | translate }}"
          class="sidenav-btn"
          (click)="toggleMenu()">
          <mat-icon class="material-icon-white outline">{{
            isCollapsed ? "menu" : "menu_open"
          }}</mat-icon>
        </button>

        <div class="logo mat-headline-large">
          <a
            title="Damap"
            id="damap-logo"
            class="mat-focus-indicator"
            [routerLink]="'/dashboard'">
            @if (!isCollapsed) {
              <span>{{ "sidebar.header.title" | translate }}</span>
            }
          </a>
        </div>
      </div>
    </div>

    <div id="user">
      @if (!isCollapsed) {
        <div class="user-name mat-title-small">
          {{ name }}
        </div>
      }
      <div class="languageElement-desktop">
        <button
          mat-button
          class="h-full material-btn-text-primary-lightest"
          [matMenuTriggerFor]="language">
          {{ lang }}
        </button>
        <mat-menu #language="matMenu">
          @for (language of availableLanguages; track language) {
            <button
              mat-menu-item
              (click)="useLanguage(language)"
              [disabled]="language.toUpperCase() === lang">
              @if (language.toUpperCase() === lang) {
                <mat-icon style="transform: scale(0.85)">check</mat-icon>
              }
              {{ language.toUpperCase() }}
            </button>
          }
        </mat-menu>
      </div>
    </div>

    <mat-nav-list>
      <div class="nav-list">
        <a
          mat-list-item
          [routerLink]="'/dashboard'"
          routerLinkActive="active-icon material-icon-primary"
          [routerLinkActiveOptions]="{ exact: true }">
          <mat-icon class="menu-icon-size outline">home</mat-icon>
          @if (!isCollapsed) {
            <span class="menu-icon-text">{{
              "sidebar.navigation.home" | translate
            }}</span>
          }
        </a>
        <a
          mat-list-item
          [routerLink]="'/plans'"
          routerLinkActive="active-icon material-icon-primary"
          [routerLinkActiveOptions]="{ exact: true }">
          <mat-icon class="menu-icon-size outline">table_view</mat-icon>
          @if (!isCollapsed) {
            <span class="menu-icon-text">{{
              "sidebar.navigation.dmps" | translate
            }}</span>
          }
        </a>
        @if (isAdmin()) {
          <a
            mat-list-item
            [routerLink]="'/admin'"
            routerLinkActive="active-icon material-icon-primary"
            [routerLinkActiveOptions]="{ exact: true }">
            <mat-icon class="menu-icon-size outline">shield_person</mat-icon>
            @if (!isCollapsed) {
              <span class="menu-icon-text">{{
                "sidebar.navigation.admin" | translate
              }}</span>
            }
          </a>
        }
      </div>
      <mat-divider></mat-divider>
    </mat-nav-list>
    <div class="bottom-section">
      <div class="logout-container">
        <button
          mat-icon-button
          id="logout"
          class="material-icon-on-secondary-container"
          [attr.aria-label]="'sidebar.navigation.logout' | translate"
          (click)="logout()">
          <mat-icon class="outline">logout</mat-icon>
        </button>
      </div>
    </div>
    @if (!isCollapsed) {
      <div class="footer mat-title-small">
        <div class="info">
          <a
            [href]="'sidebar.footer.impressum.link' | translate"
            rel="noopener"
            target="_blank">
            {{ "sidebar.footer.impressum.label" | translate }}
          </a>
          <a
            [href]="'sidebar.footer.terms-and-conditions.link' | translate"
            rel="noopener"
            target="_blank">
            {{ "sidebar.footer.terms-and-conditions.label" | translate }}
          </a>
          <a
            [href]="
              'sidebar.footer.data-protection-declaration.link' | translate
            "
            rel="noopener"
            target="_blank">
            {{ "sidebar.footer.data-protection-declaration.label" | translate }}
          </a>
          @if (footerAccessibilityUrl) {
            <a [href]="footerAccessibilityUrl" rel="noopener" target="_blank">
              {{ "sidebar.footer.accessibility-statement.label" | translate }}
            </a>
          }
        </div>
        <div class="version-information">
          <a [routerLink]="'/gdpr'" rel="noopener">{{
            "sidebar.footer.gdpr-info" | translate
          }}</a>
          <span class="version-text"
            >{{ "sidebar.footer.version" | translate }}: {{ version }}</span
          >
        </div>
      </div>
    }
    @if (isCollapsed) {
      <div class="footer-icon">
        <button
          mat-icon-button
          [matTooltip]="'sidebar.footer.collapsed.hint' | translate"
          [aria-label]="'sidebar.footer.collapsed.hint' | translate">
          <mat-icon class="md-light outline">data_alert</mat-icon>
        </button>
      </div>
    }
  </mat-sidenav>
  <mat-sidenav-content class="mat-sidenav-content">
    @if (env === "DEV") {
      <app-env-banner></app-env-banner>
    }
    <app-banner></app-banner>
    <mat-toolbar class="toolbar">
      <mat-toolbar-row id="mainHeader">
        <div class="header-container">
          <div class="header-title mat-title-large">
            {{ greeting | translate }}
            <div class="paragraph-section mat-title-medium">
              {{ summaryLine | translate }}
            </div>
          </div>
          <a
            class="logo-header"
            [title]="'layout.logo.text' | translate"
            [href]="'layout.logo.link' | translate"
            target="_blank"
            rel="noopener">
            <img
              [src]="logoUrl"
              alt="Logo"
              [class]="
                isDefaultLogo(logoUrl) ? 'header-logo-default' : 'header-logo'
              " />
          </a>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>

    <router-outlet #outlet="outlet"></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
