.mat-sidenav-container {
  min-height: calc(100% - 50px);
  overflow: clip;
}

.mat-sidenav-content {
  overflow: visible;
}

.mat-sidenav {
  width: 301px;
}

.footer {
  background-color: var(--footer-color);
  color: var(--on-footer-color);
  font-size: small;
  padding: 1rem 2rem;
  z-index: 10;
  position: relative;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.footer a {
  color: var(--on-footer-color);
  text-decoration: none;
  padding: 0 0.5rem;
}

mat-nav-list {
  padding-top: 0;
  width: 300px;
}

.mm-navbars-top a {
  color: var(--on-primary);
}

.mm-navbars-top {
  border-width: 0;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  height: 50px;
}

.mm-navbar-button {
  color: var(--on-primary);
  height: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.mm-navbar {
  padding: 0;
  border: none;
  position: relative;
  background-color: var(--primary);
  color: var(--on-primary);
  width: 100%;
  float: left;
  clear: both;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  flex-grow: 0;
  height: 100%;
}

.logo {
  flex-basis: 100%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  text-align: left;
  font-size: 2rem;
  font-weight: 500;
}

.languageElement {
  width: 110px;
  flex-basis: 110px;
  flex-shrink: 0;
  display: flex;
  transition: color 0.3s ease;
  justify-content: center;
}

.logo A {
  margin-left: 30px;
  transition:
    color 0.3s ease,
    background 0.3s ease;
  line-height: 50px;
  height: 50px;
  text-decoration: none;
}

#user {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  background-color: var(--user-navbar-color);
}

#user > div {
  font-weight: 400;
}

#user .mat-icon {
  transform: scale(1);
}

#mainHeader {
  height: 50px;
  overflow: visible;
}

#mainHeader #mainHeaderLogo A {
  top: 5px;
  position: relative;
  display: block;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

#mainHeader .mainHeaderRight {
  margin-left: auto;
  display: flex;
  align-content: flex-end;
}

.mainHeaderNav {
  display: flex;
  min-width: 50px;
  margin-right: 20px;
  font-size: 1.2rem;
}

.nav-item-desktop {
  padding: 0 15px 0 15px;
  text-decoration: none;
  color: var(--primary);
  text-transform: uppercase;
  line-height: 70px;
  font-family: FFDINWebPro, sans-serif;
  font-weight: 700;
  display: none;
}

@media (max-width: 800px) {
  #mainHeader #mainHeaderLogo A {
    position: relative;
    margin-top: 0;
  }
}

#mainHeader #mainHeaderLogo {
  top: 5px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100px;
}

#mainHeaderLogo A svg {
  width: 100%;
  height: auto;
}

.mainHeaderLeft {
  background-color: var(--secondary-container);
  padding: 5px;
}

.mat-icon {
  transform: scale(1.4);
}

.active {
  background-color: var(--surface-container-low);
  padding-left: 22px;
  font-weight: 400;
}

.sidenav-btn {
  display: block;
}

@media only screen and (min-width: 1024px) {
  .mm-navbars-top {
    line-height: 70px;
    height: 70px;
  }

  #user {
    margin-top: 70px;
    padding: 12px 16px;
  }

  .mm-navbars-top .languageElement A {
    line-height: 70px;
    height: 70px;
  }

  #mainHeader #mainHeaderLogo A {
    padding-right: 15px;
    position: relative;
  }

  .nav-item-desktop {
    display: block;
  }

  .mainHeaderLeft {
    background-color: var(--secondary-color);
    padding: 0;
  }
}
