<mat-sidenav-container>
  <mat-sidenav
    #sidenav
    [mode]="isSmallScreen && !isCollapsed ? 'over' : 'side'"
    [opened]="true"
    [class.collapsed]="isCollapsed"
    [fixedInViewport]="true"
    [disableClose]="true"
    class="mat-sidenav">
    <div class="mm-navbars-top mat-focus-indicator">
      <div class="mm-navbar">
        <button
          mat-icon-button
          title="{{ 'layout.menu.mobile.close' | translate }}"
          class="sidenav-btn"
          (click)="toggleMenu()">
          <mat-icon class="material-icon-white outline">{{
            isCollapsed ? "menu" : "menu_open"
          }}</mat-icon>
        </button>

        <div class="logo mat-headline-large">
          <a
            title="Damap"
            id="damap-logo"
            class="mat-focus-indicator"
            [routerLink]="'/dashboard'">
            {{ "title" | translate }}
            [routerLink]="'/dashboard'">
            <span *ngIf="!isCollapsed">{{ "title" | translate }}</span>
          </a>
        </div>
      </div>
    </div>

    <div id="user">
      <div *ngIf="!isCollapsed" class="user-name mat-title-small">
        {{ name }}
      </div>
      <div class="languageElement-desktop">
        <button
          mat-button
          class="mm-navbar-button material-btn-text-primary-lightest"
          [matMenuTriggerFor]="language">
          {{ lang }}
        </button>
        <mat-menu #language="matMenu">
          <button mat-menu-item (click)="useLanguage('en')">EN</button>
          <button mat-menu-item (click)="useLanguage('de')">DE</button>
        </mat-menu>
      </div>
    </div>

    <mat-nav-list>
      <div class="nav-list">
        <a
          mat-list-item
          [routerLink]="'/dashboard'"
          routerLinkActive="active-icon material-icon-primary"
          [routerLinkActiveOptions]="{ exact: true }">
          <mat-icon class="menu-icon-size outline">home</mat-icon>
          <span *ngIf="!isCollapsed" class="menu-icon-text">{{
            "layout.menu.home" | translate
          }}</span>
        </a>
        <a
          mat-list-item
          [routerLink]="'/plans'"
          routerLinkActive="active-icon material-icon-primary"
          [routerLinkActiveOptions]="{ exact: true }">
          <mat-icon class="menu-icon-size outline">table_view</mat-icon>
          <span *ngIf="!isCollapsed" class="menu-icon-text">{{
            "layout.menu.plans" | translate
          }}</span>
        </a>
        <a
          *ngIf="isAdmin()"
          mat-list-item
          [routerLink]="'/admin'"
          routerLinkActive="active-icon material-icon-primary"
          [routerLinkActiveOptions]="{ exact: true }">
          <mat-icon class="menu-icon-size outline">shield_person</mat-icon>
          <span *ngIf="!isCollapsed" class="menu-icon-text">{{
            "layout.menu.admin" | translate
          }}</span>
        </a>
      </div>
      <mat-divider></mat-divider>
    </mat-nav-list>
    <div class="bottom-section">
      <div class="logout-container">
        <button
          mat-icon-button
          id="logout"
          class="material-icon-on-secondary-container"
          [attr.aria-label]="'layout.logout' | translate"
          (click)="logout()">
          <mat-icon class="outline">logout</mat-icon>
        </button>
      </div>
    </div>
    <div *ngIf="!isCollapsed" class="footer mat-title-small">
      <div class="info">
        <a
          [href]="'layout.impressum.link' | translate"
          rel="noopener"
          target="_blank"
          >{{ "layout.impressum.text" | translate }}</a
        >
        <a
          [href]="'layout.termsandconditions.link' | translate"
          rel="noopener"
          target="_blank"
          >{{ "layout.termsandconditions.text" | translate }}</a
        >
        <a
          [href]="'layout.dataprotection.link' | translate"
          rel="noopener"
          target="_blank"
          >{{ "layout.dataprotection.text" | translate }}</a
        >
      </div>
      <div class="version-information">
        <a [routerLink]="'/gdpr'" rel="noopener">{{
          "layout.gdpr" | translate
        }}</a>
        <span class="version-text"
          >{{ "layout.version" | translate }}: {{ version }}</span
        >
      </div>
    </div>
    <div *ngIf="isCollapsed" class="footer-icon">
      <button
        mat-icon-button
        [matTooltip]="'layout.icon.dataAlert' | translate"
        [aria-label]="'layout.icon.dataAlert' | translate">
        <mat-icon class="md-light outline">data_alert</mat-icon>
      </button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="mat-sidenav-content">
    <app-env-banner *ngIf="env === 'DEV'"></app-env-banner>
    <mat-toolbar class="toolbar">
      <mat-toolbar-row id="mainHeader">
        <div class="header-container">
          <div class="header-title">
            <h1>
              {{ greeting | translate }}
            </h1>
            <div class="paragraph-section mat-title-medium">
              {{ summaryLine | translate }}
            </div>
          </div>
          <a
            class="logo-header"
            [title]="'layout.logo.text' | translate"
            [href]="'layout.logo.link' | translate"
            target="_blank"
            rel="noopener">
            <img src="assets/logo.svg" alt="Logo" height="150px" width="auto" />
          </a>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>

    <router-outlet #outlet="outlet"></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
