<mat-sidenav-container>
  <mat-sidenav
    class="mat-sidenav-divider-grey"
    #sidenav
    [fixedInViewport]="true"
    (window:resize)="widescreen()"
    [opened]="widescreen()"
    mode="side">
    <div class="mm-navbars-top mat-focus-indicator">
      <div class="mm-navbar">
        <div class="logo">
          <a
            title="DMP Tool"
            id="damap-logo"
            class="mat-focus-indicator"
            [routerLink]="'/'">
            {{ "title" | translate }}
          </a>
        </div>
        <div class="languageElement">
          <button
            mat-button
            style="color: white"
            class="mm-navbar-button"
            [matMenuTriggerFor]="language">
            {{ lang }}
          </button>
          <mat-menu #language="matMenu">
            <button mat-menu-item (click)="useLanguage('en')">EN</button>
          </mat-menu>
        </div>
      </div>
    </div>
    <div id="user">
      <div>{{ name }}</div>
      <button
        mat-icon-button
        id="logout"
        [attr.aria-label]="'layout.logout' | translate"
        (click)="logout()">
        <mat-icon class="material-icon-white">logout</mat-icon>
      </button>
    </div>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/dashboard'" routerLinkActive="active">{{
        "layout.menu.home" | translate
      }}</a>
      <a mat-list-item [routerLink]="'/plans'" routerLinkActive="active">{{
        "layout.menu.plans" | translate
      }}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <mat-toolbar-row id="mainHeader" [style]="'padding: 0px;'">
        <div class="mainHeaderLeft">
          <button
            mat-icon-button
            title="{{ 'layout.menu.mobile.open' | translate }}"
            (click)="sidenav.opened = !sidenav.opened"
            *ngIf="!sidenav.opened">
            <mat-icon class="material-icon-on-secondary-container"
              >menu</mat-icon
            >
          </button>
          <button
            mat-icon-button
            title="{{ 'layout.menu.mobile.close' | translate }}"
            class="sidenav-btn"
            (click)="sidenav.opened = !sidenav.opened"
            *ngIf="sidenav.opened">
            <mat-icon class="material-icon-on-secondary-container"
              >close</mat-icon
            >
          </button>
        </div>
        <div class="mainHeaderRight"></div>
        <!-- University Logo -->
        <div id="mainHeaderLogo">
          <a
            class="mat-focus-indicator"
            title="{{ 'layout.logo.text' | translate }}"
            [href]="'layout.logo.link' | translate"
            rel="noopener">
            <img src="assets/logo.svg" alt="Logo" height="70px" width="120px" />
          </a>
        </div>
        <!-- University Logo End -->
      </mat-toolbar-row>
      <mat-toolbar-row class="mat-toolbar-row-grey">
        <strong translate>title</strong>
      </mat-toolbar-row>
    </mat-toolbar>
    <app-env-banner *ngIf="env === 'DEV'"></app-env-banner>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<div class="footer">
  <div class="version-information">
    <div>
      {{ "layout.version" | translate }}: {{ version }}
      <a [routerLink]="'/gdpr'" rel="noopener">{{
        "layout.gdpr" | translate
      }}</a>
    </div>
    <a
      class="mat-focus-indicator"
      [href]="'layout.baseLogo.link' | translate"
      target="_blank"
      rel="noopener">
      <img src="assets/damap_white_new.png" alt="Logo" height="40" />
    </a>
  </div>
  <div class="info">
    <a
      [href]="'layout.impressum.link' | translate"
      rel="noopener"
      target="_blank"
      >{{ "layout.impressum.text" | translate }}</a
    >
    <a
      [href]="'layout.termsandconditions.link' | translate"
      rel="noopener"
      target="_blank"
      >{{ "layout.termsandconditions.text" | translate }}</a
    >
    <a
      [href]="'layout.dataprotection.link' | translate"
      rel="noopener"
      target="_blank"
      >{{ "layout.dataprotection.text" | translate }}</a
    >
  </div>
</div>
